@use "../abstracts/mixins" as *;

.error {
  &-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }

  &-content {
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 10px var(--shadow-primary));
    outline: 1px solid var(--color-border-modal);
    border-radius: $roundness;
    background-color: var(--color-background-modal);
    width: 100%;

    .flexible-links {
      border-radius: $roundness * 0.5;
    }
  }

  &-backtitle {
    position: absolute;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Onest, sans-serif;
    font-size: 16rem;
    font-weight: 900;
    font-style: italic;
    pointer-events: none;

    @media screen and (width < 1024px) {
      letter-spacing: -2rem;
      font-size: 8rem;
      font-style: normal;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  &-title {
    outline: 1px solid var(--color-surface-primary-border);
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    padding-block: 10px;
    padding-inline: 15px;
    text-transform: uppercase;
    line-height: 1.25;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    text-wrap: balance;
  }

  &-message {
    text-wrap: balance;
  }
}
