@use "../abstracts/mixins" as *;

.error {
  &-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }

  &-backtitle {
    position: absolute;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: $font-size-display-lg;
    font-weight: 900;
    font-style: italic;
    pointer-events: none;

    @media screen and (width < 1024px) {
      letter-spacing: -2rem;
      font-size: $font-size-display-md;
      font-style: normal;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}
