@use "../abstracts/mixins" as *;

.header {
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  translate: 0 0 0;
  z-index: 10000;
  backdrop-filter: blur(15px) saturate(50%);
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 1px solid var(--color-border-header);
  box-shadow: 0 0 15px 0 var(--shadow-secondary);
  background-color: var(--color-background-header);
  padding-inline: 15px;
  width: 100%;
  max-width: 1075px;

  @media screen and (width <= 768px) {
    z-index: 100;
  }

  @media screen and (width >= 1075px) {
    transform: translateX(calc(-50% - 0.5px));
    border-bottom-right-radius: $roundness * 1.5;
    border-bottom-left-radius: $roundness * 1.5;
    width: calc(100% - 8px);
  }

  svg {
    fill: var(--color-accent);
    width: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
    height: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
  }

  .header-left,
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: max-content;

    .icon {
      align-items: center;
      align-self: center;
      vertical-align: middle;
      margin-bottom: 3px;
      width: 20px;
      height: 20px;
    }

    .logo {
      transition: opacity 0.3s ease;
      margin-inline: 3px;
      margin-block: 8px 10px;
      max-width: fit-content;
      color: var(--color-accent);
      font-style: italic;
      font-weight: 800;
      font-size: 1.35rem;
      font-family: "Red Hat Display", monospace;

      &:hover {
        opacity: 0.8;
      }

      sub {
        font-weight: 500;
        font-size: 0.825rem;
      }
    }
  }

  .header-left {
    gap: 8px;
  }

  .header-right {
    gap: 15px;
    margin-block: 0;
  }
}

.wide-search-button {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 1px solid var(--color-widget-border);
  border-radius: $roundness * 0.75;
  background: var(--color-widget-background);
  padding-inline-start: 5px;
  color: var(--color-widget-text);
  font-weight: 400;
  font-size: 0.85rem;
  font-family: Onest, Inter, sans-serif;

  svg {
    fill: var(--color-accent);
    width: 17px;
    height: 17px;
  }

  span {
    margin-inline-start: -8px;
    padding: 5px;
  }

  mark {
    margin-inline-end: -1px;
    margin-block: 0;
    padding: 5px;
  }

  &:hover {
    background-color: var(--color-widget-background-hover);
  }

  &:active {
    background-color: var(--color-widget-background-active);
  }
}
