@use "../abstracts/mixins" as *;

.main {
  margin-top: $space-48;
  overflow: hidden;
}

footer {
  margin-block: $space-32 $space-40;
  margin-inline: auto;
  outline: $stroke-1 solid var(--color-border-primary);
  border-radius: $roundness;
  background-color: var(--color-background-secondary);
  padding-block: $space-8;
  padding-inline: $space-16;
  width: calc(100% - 40px);
  max-width: 700px;
  color: var(--color-text-tertiary);
  font-family: Onest, sans-serif;
  font-size: $font-size-body-sm;
  font-weight: 600;

  p {
    text-wrap: balance;
    margin-block: $space-4;
  }
}
