@use "../abstracts/mixins" as *;

.noscript {
  &-container {
    display: flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }

  &-modal {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 10px var(--shadow-primary));
    outline: 1px solid var(--color-border-modal);
    border-radius: $roundness;
    background-color: var(--color-background-modal);
    max-width: 500px;

    p {
      margin-block: 10px;
      margin-inline: 15px;
      line-height: 1.65;
      font-size: 0.95rem;
    }
  }

  &-backtitle {
    position: absolute;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Onest, sans-serif;
    font-size: 18rem;
    font-weight: 900;
    font-style: italic;
    pointer-events: none;
  }

  &-title {
    outline: 1px solid var(--color-surface-primary-border);
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    padding-block: 10px;
    padding-inline: 15px;
    text-transform: uppercase;
    line-height: 1.25;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    text-wrap: balance;
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-inline: 10px;
    border-radius: $roundness;
    overflow: hidden;

    button,
    a {
      display: flex;
      flex: 1 0 250px;
      gap: 10px;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      margin-block: 0;
      border-radius: 0;
      background-color: var(--color-button-group-background);
      padding-block: 8px;
      padding-inline: 10px;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      line-height: 1.5;
      color: var(--color-button-group-text);
      font-family: Onest, sans-serif;
      font-size: 0.975rem;
      font-weight: 600;

      &::before {
        display: none;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }

    .link-chrome {
      background-color: hsl(137deg 40% 86%);
      color: hsl(138deg 68% 30%);
    }

    .link-firefox {
      background-color: hsl(276deg 100% 12%);
      color: hsl(0deg 0% 100%);
    }

    .link-yandex {
      background-color: hsl(8deg 92% 63%);
      color: hsl(0deg 0% 100%);
    }
  }
}
