@use "../abstracts/mixins" as *;

.ant {
  &-divider-inner-text {
    opacity: 0.8;
    text-transform: uppercase;
    font-family: Onest, sans-serif !important;
    font-size: $font-size-text-xs;
    font-weight: 600 !important;
  }

  &-slider {
    &:hover .ant-slider-handle::after {
      box-shadow: 0 0 0 2px var(--color-accent);
    }
  }

  &-message {
    color: var(--color-text-primary);
    font-family: Inter, sans-serif;

    &-notice-wrapper .ant-message-notice-content {
      outline: $stroke-1 solid var(--color-border-primary) !important;
      background: var(--color-background-secondary) !important;
      font-size: $font-size-text-sm !important;
      font-weight: 400;
    }
  }

  &-tooltip {
    font-family: Inter, sans-serif;
    font-size: $font-size-text-sm !important;
  }

  &-modal-root .ant-modal-mask.ant-modal-mask-blur {
    backdrop-filter: blur(25px);
    background-color: var(--color-background-overlay);
  }

  &-breadcrumb {
    font-size: $font-size-text-sm;
  }

  &-modal {
    top: $inset-12;
    margin: 0 auto !important;
    max-width: calc(100% - clamp(16px, 5vw, 64px)) !important;

    .ant-modal-content {
      border: none;
      border-radius: 0;
      box-shadow: none;
      background: none;
      padding: 0;
    }

    &-container {
      box-shadow: none !important;
      background: none !important;
      padding: 0 !important;
    }

    @media screen and (width >= 768px) {
      top: $inset-64;
    }
  }

  &-spin .ant-spin-dot-holder {
    color: var(--color-accent);
  }

  &-radio-wrapper {
    &:hover .ant-radio-inner {
      border-color: var(--color-accent);
    }

    .ant-radio-inner {
      border-color: var(--color-border-primary);
      background-color: var(--color-border-primary);
    }

    &.ant-radio-checked .ant-radio-inner {
      border-color: var(--color-accent);
      background-color: var(--color-accent);
    }
  }

  &-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: var(--color-accent);
  }

  &-dropdown-menu-item {
    outline: $stroke-1 solid transparent;
    border-radius: $roundness;

    &:hover {
      outline-color: var(--color-surface-dropdown-border-hover);
      background-color: var(--color-surface-dropdown-background-hover);
    }

    &:active {
      outline-color: var(--color-surface-dropdown-border-active);
      background-color: var(--color-surface-dropdown-background-active);
    }

    .ant-dropdown-menu-item-only-child {
      border-radius: $roundness;
    }
  }

  &-dropdown-menu-title-content {
    font-size: $font-size-text-sm;
  }

  &-dropdown {
    border: $stroke-1 solid var(--color-border-dropdown);
    border-radius: $roundness;
  }
}
