.bouncy-text-container {
  display: flex;
  align-items: baseline;
  justify-content: center;

  .bouncy-text {
    &-logo {
      display: flex;
      color: var(--color-accent);
      font-family: "Red Hat Display", monospace;
      font-size: 3.5rem;
      font-weight: 800;
      font-style: italic;
    }

    &-tagline {
      display: flex;
      white-space: nowrap;
      color: var(--color-accent);
      font-family: "Red Hat Display", monospace;
      font-size: 1.35em;
      font-weight: 500;
      font-style: italic;
      translate: 0 10px;
    }

    &-letter {
      display: inline-block;
    }
  }
}
