@use "../abstracts/mixins" as *;

.change-os {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-block: 10px !important;
  outline: 1px solid var(--color-status-warning-border);
  background-color: var(--color-status-warning-background);
  padding: 10px 15px;
  line-height: 1.5;
  color: var(--color-status-warning-text);
  font-size: 0.9375rem;

  button {
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.9;
    margin-inline-start: 5px;
    outline: 1px solid var(--color-status-warning-border);
    border-radius: $roundness * 0.5;
    padding: 5px 8px;
    text-align: center;
    line-height: 1.25;
    color: var(--color-status-warning-text);
    font-size: 0.85rem;
    font-weight: 600;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.8;
    }
  }

  a {
    color: var(--color-status-warning-text);
  }

  mark {
    outline: 1px solid var(--color-status-warning-border);
    background-color: var(--color-status-warning-mark-background);
    color: var(--color-status-warning-text);

    &::before {
      background-color: var(--color-status-warning-text) !important;
    }
  }

  .os-info-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

li {
  & .change-os {
    margin-block: 5px;
    margin-inline: 0;
    border-radius: $roundness * 0.75;
  }
}

.addition-info {
  .change-os {
    margin-inline: -5px;
    outline: 1px solid var(--color-status-info-border);
    border-radius: $roundness * 0.5;
    background-color: var(--color-status-info-background);
    padding: 5px;
    text-align: center;
    line-height: 1.25;
    color: var(--color-status-info-text);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    button {
      outline: 1px solid var(--color-status-info-border);
      color: var(--color-status-info-text);
    }
  }
}
