@use "../abstracts/mixins" as *;

.flexible-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 10px;
  outline: 1px solid var(--color-button-group-border);
  border-radius: $roundness;
  overflow: hidden;

  button,
  a {
    @include button-group-item-base();

    &:hover {
      opacity: 1;
      background-color: var(--color-button-group-background-hover);
    }

    &:active {
      opacity: 1;
      background-color: var(--color-button-group-background-active);
    }
  }

  a {
    position: relative;
    overflow: hidden;
  }

  .selected {
    outline: 1px solid var(--color-button-group-border);
    background-color: var(--color-button-group-background-hover);
  }
}

li > .flexible-links {
  margin-inline: 0;
}
