@use "../abstracts/mixins" as *;

.flexible-links {
  @include grouped-controls-container();
  @include grouped-controls-corners();

  button,
  a {
    @include button-group-item-base();

    &:hover {
      opacity: 1;
      background-color: var(--color-button-group-background-hover);
    }

    &:active {
      opacity: 1;
      background-color: var(--color-button-group-background-active);
    }
  }

  a {
    position: relative;
    overflow: hidden;
  }

  .selected {
    outline-color: var(--color-button-group-border);
    background-color: var(--color-button-group-selected);
  }
}

li > .flexible-links {
  margin-inline: 0;
}
