@use "../abstracts/mixins" as *;

.flexible-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 10px;
  outline: 1px solid var(--color-button-group-border);
  border-radius: $roundness;
  overflow: hidden;

  button,
  a {
    display: flex;
    flex: 1 0 175px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-block: 0;
    outline: 1px solid var(--color-button-group-border);
    border-radius: 0;
    background-color: var(--color-button-group-background);
    padding-block: 8px;
    padding-inline: 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    color: var(--color-button-group-text);
    font-family: Onest, sans-serif;
    font-size: 0.975rem;
    font-weight: 600;

    &::before {
      display: none;
    }

    &:hover {
      opacity: 1;
      background-color: var(--color-button-group-background-hover);
    }

    &:active {
      opacity: 1;
      background-color: var(--color-button-group-background-active);
    }
  }

  .selected {
    outline: 1px solid var(--color-button-group-border);
    background-color: var(--color-button-group-background-hover);
  }
}

li > .flexible-links {
  margin-inline: 0;
}
