.loading-animation-container {
  margin-inline: auto;
  max-width: 800px;

  .loading-animation-text {
    margin: 10px;
    margin-top: 25px;
    margin-inline: 20px;
    white-space: pre-wrap;
    font-size: 0.875rem;
  }
}
