@use "../abstracts/mixins" as *;

.modal {
  display: flex;
  flex-direction: column;
}

.modal-header {
  text-wrap: balance;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  outline: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding-inline: 15px;
  padding-inline-end: 10px;
  padding-block: 10px;
  line-height: 1.25;
  font-family: Onest, sans-serif;
  text-transform: uppercase;
}

.modal-header-title {
  overflow: hidden;
  color: var(--color-surface-primary-text);
  font-weight: 500;
  font-size: 1.15rem;
}

.modal-header-close {
  flex-shrink: 0;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: $roundness * 0.5;
  padding: 4px;
  color: var(--color-surface-primary-text);

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-content {
  filter: drop-shadow(0 0 15px var(--shadow-primary));
  outline: 1px solid var(--color-border-modal);
  border-radius: $roundness;
  background-color: var(--color-background-modal);
  width: 100%;

  .flexible-links {
    border-radius: $roundness * 0.5;
  }
}

.modal-message {
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.875rem !important;
}

.modal-page-button {
  display: flex;
  flex: 1 1 150px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  color: var(--color-surface-primary-text);
  font-weight: 700;
  font-size: 0.875rem;
  font-family: Onest, sans-serif;
  text-align: center;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  width: calc(100% - 20px);
  color: var(--color-surface-primary-text);
  font-weight: 700;
  font-size: 0.95rem;
  font-family: Onest, sans-serif;
  text-align: center;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal p {
  margin-inline: 15px;
  margin-block: 10px;
  font-size: 0.95rem;
  line-height: 1.65;
}

.modal a {
  color: var(--color-accent);
  font-weight: 700;
  text-decoration: underline;
}

.modal ul {
  margin-block: 10px;
}

.modal li {
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding-inline: 15px;
  padding-inline-start: 30px;
  padding-block: 10px;
  font-size: 0.95rem;
  line-height: 1.75;
  list-style-type: none;
}

.modal li:not(:last-child) {
  border-bottom: 1px solid var(--color-border-primary);
}

.modal li::before {
  display: inline-block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
  opacity: 0.5;
  border-radius: $roundness;
  background-color: var(--color-accent);
  width: 1px;
  content: "";
}

.modal-support {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
  margin-block: 15px;

  svg {
    width: 20px;
    height: 20px;
  }

  &-title {
    line-height: 1.25;
    font-family: Onest, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &-recipient-info {
    text-align: center;
    color: var(--color-text-tertiary);
    font-size: 0.8rem !important;
  }

  &-yoomoney-link {
    text-decoration: underline;
    color: var(--color-accent);
    font-weight: 700;
  }

  &-open-button {
    display: flex;
    flex: 1 1 150px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid var(--color-surface-primary-border);
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }

    &--enhanced {
      filter: saturate(1.25);
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      opacity,
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    border-radius: $roundness * 0.75;
    background-color: var(--color-surface-primary-background);
    padding: 10px 20px;
    color: var(--color-surface-primary-text) !important;
    font-size: 1.05rem;
    font-weight: 700;

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }
  }

  &-account-number {
    display: block;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 1.25rem;

    &--yoomoney {
      margin-inline: 0;
      width: 100%;
    }
  }
}
