@use "../abstracts/mixins" as *;

.modal {
  display: flex;
  flex-direction: column;
}

.modal-header {
  text-wrap: balance;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  outline: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding-inline: 15px;
  padding-inline-end: 10px;
  padding-block: 10px;
  line-height: 1.25;
  font-family: Onest, sans-serif;
  text-transform: uppercase;
}

.modal-header-title {
  overflow: hidden;
  color: var(--color-surface-primary-text);
  font-weight: 500;
  font-size: 1.15rem;
}

.modal-header-close {
  flex-shrink: 0;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: $roundness * 0.5;
  padding: 4px;
  color: var(--color-surface-primary-text);

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-content {
  filter: drop-shadow(0 0 15px var(--shadow-primary));
  outline: 1px solid var(--color-border-modal);
  border-radius: $roundness;
  background-color: var(--color-background-modal);
  width: 100%;

  .flexible-links {
    border-radius: $roundness * 0.5;
  }
}

.modal-message {
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.875rem !important;
}

.modal-page-button {
  display: flex;
  flex: 1 1 150px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  color: var(--color-surface-primary-text);
  font-weight: 700;
  font-size: 0.875rem;
  font-family: Onest, sans-serif;
  text-align: center;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  width: calc(100% - 20px);
  color: var(--color-surface-primary-text);
  font-weight: 700;
  font-size: 0.95rem;
  font-family: Onest, sans-serif;
  text-align: center;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal p {
  margin-inline: 15px;
  margin-block: 10px;
  font-size: 0.95rem;
  line-height: 1.65;
}

.modal a {
  color: var(--color-accent);
  font-weight: 700;
  text-decoration: underline;
}

.modal ul {
  margin-block: 10px;
}

.modal li {
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding-inline: 15px;
  padding-inline-start: 30px;
  padding-block: 10px;
  font-size: 0.95rem;
  line-height: 1.75;
  list-style-type: none;
}

.modal li:not(:last-child) {
  border-bottom: 1px solid var(--color-border-primary);
}

.modal li::before {
  display: inline-block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
  opacity: 0.5;
  border-radius: $roundness;
  background-color: var(--color-accent);
  width: 1px;
  content: "";
}

.modal-support-button--sber {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity,
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  border-radius: $roundness * 0.75;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  color: var(--color-surface-primary-text) !important;
  font-weight: 700;
  font-size: 1.05rem;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-support-button--yoomoney {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity,
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  border-radius: $roundness * 0.75;
  background-color: var(--color-surface-primary-background);
  padding: 10px 20px;
  color: var(--color-surface-primary-text) !important;
  font-weight: 700;
  font-size: 1.05rem;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-modal-title {
  opacity: 0.75;
  padding-inline: 15px;
  padding-block: 12px;
  font-weight: 450;
  font-size: 0.85rem;
  line-height: 1.25;
  text-align: center;
}

.modal-modal-tip {
  text-wrap: balance;
  opacity: 0.5;
  padding-inline: 15px;
  padding-block: 12px;
  max-width: 400px;
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: right;
}

.modal-support {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin-block: 15px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.modal-support-title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.25;
  font-family: Onest, sans-serif;
}

.modal-page-button--enhanced {
  filter: saturate(1.25);
}

.modal-support-cardnumber--sber,
.modal-support-cardnumber--yoomoney {
  display: block;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  width: calc(100% - 20px);
  font-size: 1.25rem;
  text-align: center;
}

.modal-support-cardnumber--yoomoney {
  margin-inline: 0;
  width: 100%;
}
.modal-support-recipient-info {
  color: var(--color-text-tertiary);
  font-size: 0.8rem !important;
  text-align: center;
}

.modal-support-yoomoney-link {
  color: var(--color-accent);
  font-weight: 700;
  text-decoration: underline;
}
