.page-intro-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  background-color: var(--color-background-primary);
  width: 100%;
  height: 100vh;
}
