@use "../abstracts/mixins" as *;

.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  transform: scale(0);
  border-radius: 50%;
  background-color: var(--color-interaction-ripple);
  animation: ripple-enter $duration-750 cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

@keyframes ripple-enter {
  to {
    transform: scale(0.75);
    opacity: 0;
  }
}
