@use "../abstracts/mixins" as *;

.search {
  &-input {
    padding-block: 8px;
    padding-inline-start: 14px;
    width: 100%;
    color: var(--color-surface-primary-text);
    font-size: 1rem;
    font-weight: 600;

    &::placeholder {
      opacity: 0.75;
      text-align: center;
      font-family: Onest, sans-serif, monospace;
      font-size: 0.85rem;
      font-weight: 450;
      font-style: italic;
    }

    &-wrapper {
      display: flex;
      position: relative;
      flex-flow: row nowrap;
      justify-content: space-between;
      z-index: 100;
      outline: 1px solid var(--color-surface-primary-border);
      border-radius: $roundness;
      background-color: var(--color-surface-primary-background);
    }

    &-close,
    &-clear {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 40px;
      color: var(--color-surface-primary-text);

      &:hover {
        background-color: var(--color-surface-primary-background-hover);
      }

      &:active {
        background-color: var(--color-surface-primary-background-active);
      }

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }

  &-results {
    display: block;
    position: relative;
    transition:
      -webkit-mask-position 0.5s ease,
      mask-position 0.5s ease;
    margin-top: 10px;
    border-radius: $roundness;
    max-height: clamp(
      47.5svh,
      calc(47.5svh + (100 - 47.5) * ((100vw - 400px) / (1200 - 400))),
      100svh
    );
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, black 92.5%, transparent 100%);
    mask-position: 0 50%;
    mask-size: 100% 200%;
    mask-repeat: no-repeat;
    scrollbar-color: var(--color-surface-primary-border) var(--color-background-modal);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &.show-fade {
      mask-position: 0 100%;
    }
  }

  &-link {
    display: block;
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);

    &:first-child {
      margin-block-start: 2px;
    }
  }

  &-counter {
    display: flex;
    gap: 3px;
    align-items: center;
    opacity: 0.75;
    padding: 5px;
    text-align: center;
    font-size: 0.825rem;
  }

  &-header {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2px;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
    outline: 1px solid var(--color-surface-primary-border);
    border-radius: $roundness * 0.75;
    background-color: var(--color-surface-primary-background);
    cursor: pointer;
    padding: 8px 12px;

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }
  }

  &-title {
    position: relative;
    margin: 0 !important;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: min(
      calc(1.05rem + (1.2 - 1.05) * ((100vw - 320px) / (768 - 320))),
      1.2rem
    ) !important;
    font-weight: 650;
  }

  &-content {
    outline: solid 1px var(--color-border-modal);
    border-top: none;
    border-bottom-left-radius: $roundness * 0.75;
    border-bottom-right-radius: $roundness * 0.75;
    background-color: var(--color-surface-card-background);
    overflow: hidden;
    font-size: 0.925rem;
    user-select: none;

    .addition-info,
    .addition-warning,
    .addition-danger {
      font-size: 0.9rem;
    }

    &.faq-content {
      margin-block-start: -16px;
      padding: 0;
      padding-block-start: 16px;

      p {
        margin-block: 8px;
        margin-inline: 12px;
      }

      li > p {
        margin: 0;
      }

      mark:hover,
      a {
        transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &.no-copy mark {
        transition: none;

        &:hover,
        &:active {
          opacity: initial;
        }
      }

      a:hover {
        opacity: 1;
      }
    }

    p,
    li,
    mark,
    .addition-info,
    .addition-warning,
    .addition-danger {
      user-select: none;
    }
  }

  &-selected {
    transition:
      background-color,
      outline 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    .search-header {
      outline: 1px solid var(--color-accent);
      background-color: var(--color-surface-primary-background-hover);
    }

    .search-content {
      outline: 1px solid var(--color-surface-primary-border);
      background-color: var(--color-surface-primary-background);
    }
  }

  &-no-results {
    padding-block-start: 10px;

    &-title {
      padding-inline: 15px;
      font-family: Onest, sans-serif;
      font-size: 1.1rem;
      text-wrap: balance;
    }

    &-message {
      opacity: 0.5;
      padding-inline: 15px;
      width: 100%;
      font-size: 0.825rem;
      text-wrap: balance;
    }

    &-tip {
      opacity: 0.35;
      margin-block: 15px;
      margin-inline-start: auto;
      padding-inline: 10px;
      text-align: right;
      line-height: 1.25;
      font-size: 0.725rem !important;
      text-wrap: balance;
    }
  }

  &-external-links {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
    outline: 1px solid var(--color-button-group-border);
    border-radius: $roundness;
    overflow: hidden;

    a,
    button {
      box-sizing: border-box;
      flex: 1 0 175px;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: 1px solid var(--color-button-group-border);
      border-radius: 0;
      background-color: var(--color-button-group-background);
      padding-block: 8px;
      padding-inline: 10px;
      width: 100%;
      min-width: 150px;
      text-align: center;
      text-decoration: none;
      line-height: 1.25;
      color: var(--color-button-group-text);
      font-family: Onest, sans-serif;
      font-size: 0.95rem;
      font-weight: 500;
      text-wrap: wrap;

      &:hover {
        background-color: var(--color-button-group-background-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-button-group-background-active);
      }

      @media (width <= 545px) {
        flex: 1 0 125px;
      }
    }
  }

  &-category {
    display: flex;
    flex-flow: wrap;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-inline: 10px;
    outline: 1px solid var(--color-button-group-border);
    border-radius: $roundness * 0.5;
    overflow: hidden;

    a,
    button {
      box-sizing: border-box;
      display: flex;
      flex: 1 0 175px;
      gap: 8px;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: 1px solid var(--color-button-group-border);
      border-radius: 0;
      background-color: var(--color-button-group-background);
      padding-block: 8px;
      padding-inline: 10px;
      width: 100%;
      min-width: 150px;
      text-align: center;
      text-decoration: none;
      line-height: 1.25;
      color: var(--color-button-group-text);
      font-family: Onest, sans-serif;
      font-size: 0.95rem;
      font-weight: 500;
      text-wrap: wrap;

      &:hover {
        background-color: var(--color-button-group-background-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-button-group-background-active);
      }

      svg {
        width: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
        height: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
      }

      @media screen and (width <= 545px) {
        flex: 1 0 125px;
      }
    }

    &-tip {
      opacity: 0.4;
      margin-block: 2px 15px;
      padding-inline: 15px;
      text-align: center;
      line-height: 1.25;
      font-size: 0.75rem;
      text-wrap: balance;
    }
  }
}

button {
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-button {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 1px solid var(--color-widget-border);
  border-radius: $roundness * 0.75;
  background: var(--color-widget-background);
  padding: 5px;
  padding-inline-start: 5px;
  color: var(--color-widget-text);
  font-family: Onest, Inter, sans-serif;
  font-size: 0.85rem;
  font-weight: 400;

  &:hover {
    background-color: var(--color-widget-background-hover);
  }

  &:active {
    background-color: var(--color-widget-background-active);
  }

  &:focus,
  &:active {
    outline: 1px solid var(--color-widget-border);
  }

  svg {
    fill: var(--color-accent);
    width: 17px;
    height: 17px;
  }

  span {
    margin-inline-start: -8px;
    text-wrap-mode: nowrap;
  }

  mark {
    margin: -5px !important;
    margin-block: 0;
    margin-inline-end: 0;
    border-radius: $roundness * 0.75;
    padding: 5px;
  }
}
