@use "../abstracts/mixins" as *;

.support-title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.25;
  font-family: Onest, sans-serif;
}

.support-button-enhanced {
  filter: saturate(1.25);
}

.copy-cardnumber-sber,
.copy-cardnumber-yoomoney {
  display: block;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-size: 1.25rem;
  text-align: center;
  width: calc(100% - 20px);
}

.copy-cardnumber-yoomoney {
  margin-inline: 0;
  width: 100%;
}
.support-card-recipient-info {
  color: var(--color-text-tertiary);
  font-size: 0.8rem !important;
  text-align: center;
}

.support-yoomoney-link {
  color: var(--color-accent);
  font-weight: 700;
  text-decoration: underline;
}
