@use "../abstracts/mixins" as *;

table {
  margin: 10px;
  width: calc(100% - 20px);
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 4px;
  font-size: 0.975rem;

  td,
  th {
    border-radius: $roundness * 0.75;
    padding: 6px 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 1.65;

    .addition-info,
    .addition-warning,
    .addition-danger {
      margin-inline: auto;
      border-radius: $roundness * 0.5;
      padding-block: 8px;
      padding-inline: 12px;
      text-align: left;
      font-size: 0.875rem;

      &:last-child {
        margin-block-end: 5px;
      }

      &:first-child {
        margin-block-start: 5px;
      }
    }

    mark,
    a {
      outline: none;
      background: none;

      &::before {
        width: min(
          calc(9px + (14 - 9) * ((100vw - 320px) / (768 - 320))),
          14px
        ) !important;
        height: min(
          calc(9px + (14 - 9) * ((100vw - 320px) / (768 - 320))),
          14px
        ) !important;
      }
    }
  }

  td {
    transition: background-color 0.3s ease;
    border: 1px solid var(--color-border-table);
    background-color: var(--color-background-table);
  }

  tbody {
    tr:hover {
      td {
        background-color: var(--color-background-table-hover);
      }
    }
  }

  thead {
    z-index: 10;
    color: var(--color-mark-text);
    font-family: Onest, Inter, sans-serif;

    th {
      text-wrap: balance;
      border: 1px solid var(--color-surface-primary-border);
      border-radius: $roundness * 0.75;
      background-color: var(--color-surface-primary-background);
      font-weight: 600;
    }
  }

  @media screen and (width <= 400px) {
    overflow-wrap: break-word;

    td,
    th {
      padding: 4px 2px;
      font-size: 0.875rem;

      .addition-info,
      .addition-warning,
      .addition-danger {
        font-size: 0.785rem;
      }
    }
  }
}
