@use "../abstracts/mixins" as *;

.theme {
  &-slider {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 12px;
    margin-inline: 24px;
    line-height: 1.35;

    button {
      flex-shrink: 0;
    }

    .ant-slider {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  &-title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block: 10px 2px;
    margin-inline: 16px;
    font-size: 0.9rem;
    font-weight: 400;

    svg {
      width: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
      height: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
    }

    button {
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-radius: 100%;

      &:hover {
        background-color: var(--color-button-group-background-hover);
      }

      &:active {
        background-color: var(--color-button-group-background-active);
      }

      &.theme-reset-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 28px;
        height: 28px;

        svg {
          width: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
          height: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
        }
      }
    }
  }

  &-selector {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid var(--color-button-group-border);
    border-radius: $roundness * 0.75;
    width: calc(100% - 20px);
    overflow: hidden;
    color: var(--color-button-group-text);
  }

  &-button {
    display: flex;
    flex: 1 0 100px;
    flex-wrap: nowrap;
    gap: 6px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 1px solid var(--color-button-group-border) !important;
    background-color: var(--color-button-group-background);
    padding: 10px;
    max-width: 100%;
    font-family: Onest, sans-serif;
    font-size: 0.95rem;
    font-weight: 500;

    &:hover {
      background-color: var(--color-button-group-background-hover);
    }

    &:active {
      background-color: var(--color-button-group-background-active);
    }

    sup {
      margin: -3px;
      font-size: 0.6em;
    }

    svg {
      fill: var(--color-button-group-text);
      width: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
      height: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
    }

    &-selected {
      background-color: var(--color-button-group-selected);
    }
  }
}