@use "../abstracts/mixins" as *;

.theme-slider {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-inline: 24px;
  margin-block-end: 12px;
  line-height: 1.35;
}

.theme-slider button {
  flex-shrink: 0;
}

.theme-title svg {
  width: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
  height: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
}

.theme-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: 16px;
  margin-block: 10px 2px;
  font-weight: 400;
  font-size: 0.9rem;

  button {
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 100%;

    &.theme-reset-button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: 28px;
      height: 28px;

      svg {
        width: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
        height: min(calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320))), 18px);
      }
    }

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }
  }
}

.theme-slider .ant-slider {
  flex: 1 1 auto;
  width: 100%;
}

.theme-selector {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  outline: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness * 0.75;
  width: calc(100% - 20px);
  overflow: hidden;
  color: var(--color-surface-primary-text);
}

.theme-button {
  display: flex;
  flex: 1 0 100px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 1;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 1px solid var(--color-surface-primary-border);
  background-color: var(--color-surface-primary-background);
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
  overflow-y: hidden;
  font-weight: 500;
  font-size: 0.95rem;
  font-family: Onest, sans-serif;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }

  sup {
    margin: -3px;
    font-size: 0.6em;
  }
}

.theme-button svg {
  fill: var(--color-surface-primary-text);
  width: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
  height: min(calc(17px + (19 - 17) * ((100vw - 320px) / (768 - 320))), 19px);
}

.theme-button-selected {
  outline: 1px solid var(--color-surface-primary-border);
  background-color: var(--color-surface-primary-background-hover);
}
