.git
.gitignore
.gitattributes

Dockerfile
docker-compose.yml
.dockerignore

.idea
.vscode
.env*
*.suo
*.user

node_modules

dist
build

*.log
npm-debug.log*
yarn-error.log
pids
*.pid
*.seed
*.lock

.DS_Store
Thumbs.db
.yarnrc.yml