
# dependencies
pnpm-lock.yaml
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
.stylelintrc
.prettierrc
.eslintrc
.eslintignore
package-lock.json
package.json
tsconfig.json
.vscode
yarn.lock
.husky
vite.config.ts
src/vite-env.d.ts
.idea
TODO.md
