scripts/script_log.txt
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/settings.json
.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
qodana.yaml
.vs
.agent*
.cursor
*.code-workspace
*.md
!README.md
!AGENTS.md
.yarn*
pnpm*.yaml
.pnp*
.aider*
.psd
!docs/**/*