@use "../../styles/abstracts/mixins" as *;

.noscript {
  &-container {
    display: flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: $z-modal;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }

  &-modal {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    filter: $shadow-filter-overlay;
    outline: $stroke-1 solid var(--color-border-modal);
    border-radius: $roundness;
    background-color: var(--color-background-modal);
    max-width: 500px;

    p {
      margin-block: $space-8;
      margin-inline: $space-16;
      line-height: 1.65;
      font-size: $font-size-text-base;
    }
  }

  &-backtitle {
    position: absolute;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Onest, sans-serif;
    font-size: $font-size-display-xl;
    font-weight: 900;
    font-style: italic;
    pointer-events: none;
  }

  &-title {
    @include fluid-inset(
      padding-block,
      $space-8,
      $space-12,
      padding-inline,
      $space-8,
      $space-8
    );

    outline: $stroke-1 solid var(--color-surface-primary-border);
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    text-transform: uppercase;
    line-height: 1.25;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: $font-size-heading-xs;
    font-weight: 500;
    text-wrap: balance;
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-inline: $space-8;
    border-radius: $roundness;
    overflow: hidden;

    button,
    a {
      @include button-group-item-base($flex-basis: 250px, $include-outline: false);

      gap: $space-8;
    }

    img {
      width: 20px;
      height: 20px;
    }

    .link-chrome {
      background-color: hsl(137deg 40% 86%);
      color: hsl(138deg 68% 30%);
    }

    .link-firefox {
      background-color: hsl(276deg 100% 12%);
      color: hsl(0deg 0% 100%);
    }

    .link-yandex {
      background-color: hsl(8deg 92% 63%);
      color: hsl(0deg 0% 100%);
    }
  }
}
