@use "../../styles/abstracts/mixins" as *;

.modal {
  --header-control-height: min(
    calc(26px + (30 - 26) * ((100vw - 320px) / (768 - 320))),
    30px
  );

  display: flex;
  flex-direction: column;

  p {
    margin-block: 10px;
    margin-inline: 15px;
    line-height: 1.65;
  }

  a {
    text-decoration: underline;
    color: var(--color-accent);
    font-weight: 700;
  }

  ul {
    margin-block: 10px;
  }

  li {
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    padding-inline: 15px;
    padding-inline-start: 30px;
    list-style-type: none;
    line-height: 1.75;

    &::before {
      display: inline-block;
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
      opacity: 0.5;
      border-radius: $roundness;
      background-color: var(--color-accent);
      width: 1px;
      content: "";
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border-primary);
    }
  }
}

.modal p,
.modal li,
.modal-open-button,
.modal-controls-option {
  font-size: 0.95rem;
}

.modal-header,
.modal-open-button,
.modal-support-title,
.modal-support-header-button,
.modal-controls-option {
  font-family: Onest, sans-serif;
}

.modal-header {
  @include fluid-inset(padding-block, 12px, 14px, padding-inline, 6px, 7px);

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  line-height: 1.25;
  text-wrap: balance;

  &-title {
    overflow: hidden;
    color: var(--color-surface-primary-text);
    font-size: 1.1rem;
    font-weight: 550;
  }

  &-button {
    appearance: none;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition:
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: -4px;
    outline: none;
    border: 1px solid transparent;
    border-radius: $roundness * 0.75;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    height: var(--header-control-height, 30px);
    min-height: var(--header-control-height, 30px);
    line-height: 1;
    color: var(--color-surface-primary-text);
    aspect-ratio: 1 / 1;

    &:focus,
    &:focus-visible {
      outline: none !important;
    }

    &:hover {
      border-color: var(--color-surface-primary-border-hover);
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      border-color: var(--color-surface-primary-border-active);
      background-color: var(--color-surface-primary-background-active);
    }

    svg {
      @include fluid-icon-size(18px, 20px);
    }
  }
}

.modal-support-header-button {
  appearance: none;
  box-sizing: border-box;
  display: flex;
  position: relative;
  gap: 4px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: 1px solid var(--color-widget-border);
  border: none;
  border-radius: $roundness * 0.75;
  background: var(--color-widget-background);
  padding: 5px;
  height: var(--header-control-height, 30px);
  min-height: var(--header-control-height, 30px);
  line-height: 1;
  color: var(--color-widget-text);
  font-size: 0.85rem;
  font-weight: 400;

  &:hover {
    outline: 1px solid var(--color-surface-primary-border-hover);
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    outline: 1px solid var(--color-surface-primary-border-active);
    background-color: var(--color-surface-primary-background-active);
  }

  &:focus:not(:active),
  &:focus-visible:not(:active) {
    outline: 1px solid var(--color-widget-border);
  }

  span {
    white-space: nowrap;
  }

  svg {
    fill: var(--color-accent);
    width: 17px;
    height: 17px;
  }
}

.modal-content {
  filter: drop-shadow(0 0 15px var(--shadow-primary));
  outline: 1px solid var(--color-border-modal);
  border-radius: $roundness;
  background-color: var(--color-background-modal);
  width: 100%;
  backdrop-filter: blur(5px);

  .flexible-links {
    border-radius: $roundness * 0.5;
  }
}

.modal-text-balance {
  text-wrap: balance;
}

.modal-message {
  opacity: 0.5;
  font-size: 0.875rem !important;
  font-weight: 600;
}

.modal-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    outline-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0 auto;
  outline: 1px solid transparent;
  border: 1px solid var(--color-surface-primary-border);
  border-radius: $roundness;
  background-color: var(--color-surface-primary-background);
  cursor: pointer;
  padding: 10px 20px;
  width: calc(100% - 20px);
  text-align: center;
  color: var(--color-surface-primary-text);
  font-weight: 700;

  &:hover {
    outline-color: var(--color-surface-primary-border-hover);
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    outline-color: var(--color-surface-primary-border-active);
    background-color: var(--color-surface-primary-background-active);
  }
}

.modal-modal-title {
  opacity: 0.75;
  padding-block: 12px;
  padding-inline: 15px;
  text-align: center;
  line-height: 1.25;
  font-size: 0.85rem;
  font-weight: 450;
}

.modal-modal-tip {
  opacity: 0.5;
  padding-block: 12px;
  padding-inline: 15px;
  max-width: 400px;
  text-align: right;
  line-height: 1.25;
  font-size: 0.75rem;
  text-wrap: balance;
}

.modal-support {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;

  svg {
    width: 20px;
    height: 20px;
  }

  &-title {
    line-height: 1.25;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &-recipient-info {
    text-align: center;
    color: var(--color-text-tertiary);
    font-size: 0.8rem !important;
  }

  &-yoomoney-link {
    text-decoration: underline;
    color: var(--color-accent);
    font-weight: 700;
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      opacity,
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    border-radius: $roundness * 0.75;
    background-color: var(--color-surface-primary-background);
    padding: 10px 20px;
    color: var(--color-surface-primary-text) !important;
    font-size: 1.05rem;
    font-weight: 700;

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }
  }

  &-account-number {
    display: block;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 1.25rem;

    &--yoomoney {
      margin-inline: 0;
      width: 100%;
    }
  }
}

.modal-controls-slider {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  line-height: 1.35;

  button {
    flex-shrink: 0;
  }

  :global(.ant-slider-horizontal) {
    flex: 1 1 auto;
    width: 100%;
  }
}

.modal-controls-title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.modal-controls-group {
  @include grouped-controls-container(10px, space-between);

  flex-shrink: 0;
  margin: 0;
  color: var(--color-button-group-text);
}

.modal-controls-option {
  display: flex;
  position: relative;
  flex: 1 0 100px;
  flex-wrap: nowrap;
  gap: 6px;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1);
  transform-origin: center center;
  transition:
    transform 0.33s cubic-bezier(0.2, 0.65, 0.25, 1),
    box-shadow 0.33s cubic-bezier(0.2, 0.65, 0.25, 1),
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    outline-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-radius 0.33s cubic-bezier(0.2, 0.65, 0.25, 1),
    z-index 0s linear 0.25s;
  z-index: 0;
  outline: 1px solid var(--color-button-group-border) !important;
  border: none !important;
  box-shadow: 0 10px 24px transparent;
  background-color: var(--color-button-group-background);
  padding: 10px;
  max-width: 100%;
  font-weight: 500;
  will-change: transform;

  &:hover {
    transform: scale(var(--links-hover-scale-x, 1.02), var(--links-hover-scale-y, 1.02));
    transition-delay: 0.2s, 0.2s, 0s, 0.2s, 0.2s;
    z-index: 4;
    outline-color: var(--color-button-group-border-hover) !important;
    box-shadow: 0 10px 24px var(--shadow-primary);
    background-color: var(--color-button-group-background-hover);
  }

  &:active {
    transform: scale(
      var(--links-active-scale-x, 1.01),
      var(--links-active-scale-y, 1.01)
    );
    transition-delay: 0s;
    z-index: 4;
    outline-color: var(--color-button-group-border-active) !important;
    box-shadow: 0 10px 24px var(--shadow-secondary);
    background-color: var(--color-button-group-background-active);
  }

  sup {
    margin: -3px;
    font-size: 0.6em;
  }

  svg {
    @include fluid-icon-size(17px, 19px);

    fill: var(--color-button-group-text);
  }

  &-selected {
    background-color: var(--color-button-group-selected);
  }
}

:global(.group-corner-tl).modal-controls-option {
  border-top-left-radius: $roundness * 0.75;
}

:global(.group-corner-tr).modal-controls-option {
  border-top-right-radius: $roundness * 0.75;
}

:global(.group-corner-bl).modal-controls-option {
  border-bottom-left-radius: $roundness * 0.75;
}

:global(.group-corner-br).modal-controls-option {
  border-bottom-right-radius: $roundness * 0.75;
}

.modal-controls-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-block: 15px;
  margin-inline: 16px;

  .modal-controls-title .modal-controls-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid transparent;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;

    &:hover {
      outline-color: var(--color-button-group-border-hover);
      background-color: var(--color-button-group-background-hover);
    }

    &:active {
      outline-color: var(--color-button-group-border-active);
      background-color: var(--color-button-group-background-active);
    }

    svg {
      @include fluid-icon-size(16px, 18px);

      aspect-ratio: 1 / 1;
    }
  }
}

.modal-controls-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-block: 15px;
  margin-inline: 16px;
}
