@use "../abstracts/mixins" as *;

.support {
  &-title {
    line-height: 1.25;
    font-family: Onest, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &-button-enhanced {
    filter: saturate(1.25);
  }

  &-card-recipient-info {
    text-align: center;
    color: var(--color-text-tertiary);
    font-size: 0.8rem !important;
  }

  &-yoomoney-link {
    text-decoration: underline;
    color: var(--color-accent);
    font-weight: 700;
  }
}
