@use "../../abstracts/mixins" as *;

.article {
  &-container {
    margin-inline: auto;
    width: calc(100% - clamp(16px, 5vw, 64px));
    max-width: 1175px;
    filter: $shadow-filter-surface;

    &-flex {
      display: flex;
      flex-direction: row;
      margin-inline: auto;
      max-width: 1400px;
    }
  }

  &-title {
    h1 {
      display: none;
    }
  }

  &-content {
    p {
      @include fluid-inset(
        margin-block,
        $space-8,
        $space-16,
        margin-inline,
        $space-16,
        $space-20
      );

      line-height: 1.75;
      text-wrap: stable;
    }

    .ant-divider-inner-text {
      opacity: 1;
      outline: $stroke-1 solid var(--color-border-divider);
      border-radius: $roundness * 0.75;
      background-color: var(--color-background-divider);
      padding: $space-8 $space-8;
      width: 100%;
      max-width: fit-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      font-family: Inter, sans-serif;
      font-size: $font-size-text-sm;
      font-weight: 700;
      text-wrap: stable;

      mark::before {
        width: calc(1em - 1px);
        height: calc(1em - 1px);
      }
    }

    a {
      transition: opacity $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      text-decoration: underline;
      color: var(--color-accent);
      font-weight: 700;

      &::before {
        @include fluid-icon-size(13px, 15px);

        display: inline-block;
        margin-block: $space-0;
        margin-inline-end: $space-4;
        background-color: currentcolor;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: sub;
        content: "";
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10.76 8.69a.76.76 0 0 0-.76.76V20.9c0 .42.34.76.76.76c.19 0 .35-.06.48-.16l1.91-1.55l1.66 3.62c.13.27.4.43.69.43c.11 0 .22 0 .33-.08l2.76-1.28c.38-.18.56-.64.36-1.01L17.28 18l2.41-.45a.9.9 0 0 0 .43-.26c.27-.32.23-.79-.12-1.08l-8.74-7.35l-.01.01a.76.76 0 0 0-.49-.18M15 10V8h5v2zm-1.17-5.24l2.83-2.83l1.41 1.41l-2.83 2.83zM10 0h2v5h-2zM3.93 14.66l2.83-2.83l1.41 1.41l-2.83 2.83zm0-11.32l1.41-1.41l2.83 2.83l-1.41 1.41zM7 10H2V8h5z'/%3E%3C/svg%3E");
        mask-size: cover;
      }

      &:hover {
        opacity: var(--color-interaction-text-hover-opacity);
      }

      &:active {
        opacity: var(--color-interaction-text-active-opacity);
      }

      &:visited {
        color: var(--color-link-visited);
      }
    }

    del {
      opacity: 0.5;
    }

    .article-note-muted {
      opacity: 0.5;
      font-style: italic;
    }

    .article-media-gallery-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
      gap: 10px;
      align-items: center;
    }

    li {
      position: relative;
      padding-block: $space-8;
      padding-inline: min(calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320))), 30px)
        15px;
      list-style-type: none;
      line-height: 1.75;
      text-wrap: stable;

      &::before {
        display: inline-block;
        position: absolute;
        top: $inset-12;
        bottom: $inset-12;
        left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
        opacity: 0.5;
        border-radius: $roundness;
        background-color: var(--color-accent);
        width: 1px;
        content: "";
      }

      &:not(:last-child) {
        border-bottom: $stroke-1 solid var(--color-border-primary);
      }

      > p {
        margin-block: $space-16;
        margin-inline: 0;

        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }

      > .media {
        margin-block: $space-16;
        margin-inline: 0;

        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }

      > .addition-info,
      > .addition-warning,
      > .addition-danger {
        margin-block: $space-16;

        &:first-child {
          margin-block-start: $space-4;
        }

        &:last-child {
          margin-block-end: $space-4;
        }
      }

      > code {
        margin-inline: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > ul {
        margin-block: $space-4;

        &:last-child {
          margin-block-end: 0;
        }

        > li {
          padding-inline: min(
              calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320))),
              20px
            )
            0;

          &::before {
            left: min(calc(4px + (6 - 4) * ((100vw - 320px) / (768 - 320))), 6px);
          }
        }
      }
    }

    @media screen and (width <= 375px) {
      hyphens: auto;
    }
  }

  &-placeholder {
    opacity: 0.25;
    margin: $space-40;
    margin-inline: auto;
    max-width: 600px;
    text-align: center;
    color: var(--color-surface-primary-text);
    font-size: $font-size-heading-xs;
    font-weight: 600;
    font-style: italic;

    p {
      line-height: 1.3;
    }
  }
}
