@use "../../abstracts/mixins" as *;

.faq-container {
  margin-inline: auto;
  width: calc(100% - 16px);
  max-width: var(--max-width);
}

.faq-container-flex {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  max-width: 1400px;
}

.faq-title {
  h1 {
    display: none;
  }
}

.faq-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px 5px;
  margin-inline-end: 10px;
  max-width: fit-content;
  line-height: 1.1;
  text-transform: uppercase;

  mark {
    display: inline-flex;
    align-items: center;
    outline: none;
    background: none;
    padding: 0;
    color: var(--color-text-tertiary);
    font-weight: 500;
    font-size: min(
      calc(0.575rem + (0.675 - 0.575) * ((100vw - 320px) / (768 - 320))),
      0.675rem
    );
  }
}

.faq-summary {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: 1px solid var(--color-surface-primary-border);
  background-color: var(--color-surface-primary-background);
  padding: 12px 15px;
  color: var(--color-surface-primary-text);
  font-weight: 650;
  font-size: min(
    calc(1.15rem + (1.225 - 1.15) * ((100vw - 320px) / (768 - 320))),
    1.225rem
  );
  line-height: 1.3;
  font-family: Onest, sans-serif;
  text-transform: uppercase;

  &:not(:last-child) {
    border-top: 1px solid var(--color-surface-primary-border);
    border-bottom: none;
  }

  h3 {
    text-wrap: balance;
    margin-inline-end: 15px;
  }

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }

  details[open] & {
    border-bottom: 1px solid var(--color-surface-primary-border);
    border-radius: $roundness !important;
  }
}

.faq-summary-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.faq-section {
  margin-block-end: -1px;
  border: solid 1px var(--color-border-primary);
  background-color: var(--color-background-secondary);
  padding-block: 15px 1px;
}

.faq-content {
  details:not([open]) {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  p {
    text-wrap: stable;
    margin-inline: min(calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))), 20px);
    margin-block: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
    line-height: 1.75;
  }

  @media screen and (width <= 375px) {
    hyphens: auto;
  }

  .ant-divider-inner-text {
    text-wrap: stable;
    opacity: 1;
    outline: 1px solid var(--color-border-divider);
    border-radius: $roundness * 0.75;
    background-color: var(--color-background-divider);
    padding: 6px 9px;
    width: 100%;
    max-width: fit-content;
    overflow: hidden;
    font-weight: 700;
    font-size: 0.85rem;
    font-family: Inter, sans-serif;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  a {
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--color-accent);
    font-weight: 700;
    text-decoration: underline;

    &:hover {
      opacity: 0.65;
    }

    &:active {
      opacity: 0.45;
    }

    &:visited {
      filter: saturate(0.5);
    }

    &::before {
      display: inline-block;
      vertical-align: sub;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10.76 8.69a.76.76 0 0 0-.76.76V20.9c0 .42.34.76.76.76c.19 0 .35-.06.48-.16l1.91-1.55l1.66 3.62c.13.27.4.43.69.43c.11 0 .22 0 .33-.08l2.76-1.28c.38-.18.56-.64.36-1.01L17.28 18l2.41-.45a.9.9 0 0 0 .43-.26c.27-.32.23-.79-.12-1.08l-8.74-7.35l-.01.01a.76.76 0 0 0-.49-.18M15 10V8h5v2zm-1.17-5.24l2.83-2.83l1.41 1.41l-2.83 2.83zM10 0h2v5h-2zM3.93 14.66l2.83-2.83l1.41 1.41l-2.83 2.83zm0-11.32l1.41-1.41l2.83 2.83l-1.41 1.41zM7 10H2V8h5z'/%3E%3C/svg%3E");
      mask-size: cover;
      margin-inline-end: 3px;
      margin-block: 1px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: var(--color-accent);
      width: min(calc(13px + (15 - 13) * ((100vw - 320px) / (768 - 320))), 15px);
      height: min(calc(13px + (15 - 13) * ((100vw - 320px) / (768 - 320))), 15px);
      content: "";
    }
  }

  li {
    text-wrap: stable;
    position: relative;
    padding-inline: min(calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320))), 30px)
      15px;
    padding-block: 10px;
    line-height: 1.75;
    list-style-type: none;

    p {
      margin-inline: 0;
      margin-block: 15px;

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }

    .figure-mac-light,
    .figure-mac-dark,
    .figure-windows-light,
    .figure-windows-dark {
      max-width: 100%;
    }

    .figure-browser-youtube {
      width: 100%;
    }

    > .addition-info,
    > .addition-warning,
    > .addition-danger {
      margin-block: 15px;

      &:first-child {
        margin-block-start: 5px;
      }

      &:last-child {
        margin-block-end: 5px;
      }
    }

    code {
      margin-inline: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border-primary);
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
      opacity: 0.5;
      border-radius: $roundness;
      background-color: var(--color-accent);
      width: 1px;
      content: "";
    }
  }

  li > ul {
    margin-block: 5px;

    &:last-child {
      margin-block-end: 0;
    }
  }

  li > ul > li {
    padding-inline: min(calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320))), 20px);
    padding-inline-end: 0;

    &::before {
      left: min(calc(4px + (6 - 4) * ((100vw - 320px) / (768 - 320))), 6px);
    }
  }

  > details:last-of-type .faq-summary {
    border-bottom: 1px solid var(--color-surface-primary-border);
    border-bottom-right-radius: $roundness;
    border-bottom-left-radius: $roundness;
  }

  > details:first-of-type .faq-summary {
    border-top-right-radius: $roundness;
    border-top-left-radius: $roundness;
  }

  > details[open] .faq-section {
    border-bottom-right-radius: $roundness;
    border-bottom-left-radius: $roundness;
  }

  > details:last-of-type[open] .faq-section {
    border-bottom-right-radius: $roundness;
    border-bottom-left-radius: $roundness;
  }

  details[open] + details .faq-summary {
    border-top-right-radius: $roundness;
    border-top-left-radius: $roundness;
  }

  details:has(+ details[open]) .faq-summary {
    border-bottom: 1px solid var(--color-surface-primary-border);
    border-bottom-right-radius: $roundness;
    border-bottom-left-radius: $roundness;
  }
}

.faq-content details[open] {
  transition:
    transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
    filter 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
    margin-block 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-bottom: 1px solid var(--color-border-primary);
  border-bottom-right-radius: $roundness;
  border-bottom-left-radius: $roundness;
}

body.body-has-any-spoiler-open .faq-content {
  details[open] {
    transform: scale(1.01);
    transform-origin: top;
    margin-block: 15px;
  }
}

body.has-open-details .faq-content {
  details:not([open]) {
    opacity: 0.35;

    &:hover {
      opacity: 1;
    }
  }

  details[open] {
    filter: drop-shadow(0 0 30px var(--color-surface-primary-open-shadow));
  }
}

details {
  summary {
    position: relative;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    .faq-summary-icon {
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .details-content-wrapper {
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    margin-block-start: -15px;
    max-height: 0;
    overflow: hidden;

    .details-content-inner {
      overflow: hidden;
    }
  }

  &.is-open {
    summary .faq-summary-icon {
      transform: rotate(45deg);
    }
  }
}

.faq-tags-toggle {
  opacity: 0.7;
  cursor: pointer;
  background: transparent;
  text-decoration: underline;
}

.faq-summary-icon {
  font-family: "JetBrains Mono", monospace;
}

.faq-summary-text-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.copy-button {
  flex: none;

  &.disabled {
    filter: saturate(0) opacity(0.25);
    cursor: not-allowed;
  }
}