@use "../../abstracts/mixins" as *;

.faq {
  &-container {
    margin-inline: auto;
    width: calc(100% - 16px);
    max-width: var(--max-width);
    filter: drop-shadow(0 10px 15px var(--shadow-primary));

    &-flex {
      display: flex;
      flex-direction: row;
      margin-inline: auto;
      max-width: 1400px;
    }
  }

  &-title {
    h1 {
      display: none;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1px 5px;
    align-items: center;
    justify-content: flex-start;
    margin-inline-end: 10px;
    max-width: fit-content;
    text-transform: uppercase;
    line-height: 1.1;

    mark {
      display: inline-flex;
      align-items: center;
      outline: none;
      background: none;
      padding: 0;
      color: var(--color-text-tertiary);
      font-size: min(
        calc(0.575rem + (0.675 - 0.575) * ((100vw - 320px) / (768 - 320))),
        0.675rem
      );
      font-weight: 500;
    }

    &-toggle {
      opacity: 0.7;
      background: transparent;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &-summary {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid var(--color-surface-primary-border);
    background-color: var(--color-surface-primary-background);
    cursor: pointer;
    padding: 12px 15px;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: min(
      calc(1.15rem + (1.225 - 1.15) * ((100vw - 320px) / (768 - 320))),
      1.225rem
    );
    font-weight: 650;

    &:not(:last-child) {
      border-top: 1px solid var(--color-surface-primary-border);
      border-bottom: none;
    }

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }

    h3 {
      margin-inline-end: 15px;
      text-wrap: balance;
    }

    &-left {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
    }

    &-icon {
      font-family: "JetBrains Mono", monospace;
    }

    &-text-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &-section {
    margin-block-end: -1px;
    border: solid 1px var(--color-border-primary);
    background-color: var(--color-background-secondary);
    padding-block: 15px 1px;
  }

  &-content {
    details:not([open]) {
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    p {
      margin-block: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
      margin-inline: min(calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))), 20px);
      line-height: 1.75;
      text-wrap: stable;
    }

    .ant-divider-inner-text {
      opacity: 1;
      outline: 1px solid var(--color-border-divider);
      border-radius: $roundness * 0.75;
      background-color: var(--color-background-divider);
      padding: 6px 9px;
      width: 100%;
      max-width: fit-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      font-family: Inter, sans-serif;
      font-size: 0.85rem;
      font-weight: 700;
      text-wrap: stable;
    }

    a {
      transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      text-decoration: underline;
      color: var(--color-accent);
      font-weight: 700;

      &::before {
        display: inline-block;
        margin-block: 1px;
        margin-inline-end: 3px;
        background-color: var(--color-accent);
        background-repeat: no-repeat;
        background-size: contain;
        width: min(calc(13px + (15 - 13) * ((100vw - 320px) / (768 - 320))), 15px);
        height: min(calc(13px + (15 - 13) * ((100vw - 320px) / (768 - 320))), 15px);
        vertical-align: sub;
        content: "";
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10.76 8.69a.76.76 0 0 0-.76.76V20.9c0 .42.34.76.76.76c.19 0 .35-.06.48-.16l1.91-1.55l1.66 3.62c.13.27.4.43.69.43c.11 0 .22 0 .33-.08l2.76-1.28c.38-.18.56-.64.36-1.01L17.28 18l2.41-.45a.9.9 0 0 0 .43-.26c.27-.32.23-.79-.12-1.08l-8.74-7.35l-.01.01a.76.76 0 0 0-.49-.18M15 10V8h5v2zm-1.17-5.24l2.83-2.83l1.41 1.41l-2.83 2.83zM10 0h2v5h-2zM3.93 14.66l2.83-2.83l1.41 1.41l-2.83 2.83zm0-11.32l1.41-1.41l2.83 2.83l-1.41 1.41zM7 10H2V8h5z'/%3E%3C/svg%3E");
        mask-size: cover;
      }

      &:hover {
        opacity: 0.65;
      }

      &:active {
        opacity: 0.45;
      }

      &:visited {
        filter: saturate(0.5);
      }
    }

    li {
      position: relative;
      padding-block: 10px;
      padding-inline: min(calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320))), 30px)
        15px;
      list-style-type: none;
      line-height: 1.75;
      text-wrap: stable;

      &::before {
        display: inline-block;
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: min(calc(10px + (15 - 10) * ((100vw - 320px) / (768 - 320))), 15px);
        opacity: 0.5;
        border-radius: $roundness;
        background-color: var(--color-accent);
        width: 1px;
        content: "";
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-border-primary);
      }

      p {
        margin-block: 15px;
        margin-inline: 0;

        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }

      .figure-mac-light,
      .figure-mac-dark,
      .figure-windows-light,
      .figure-windows-dark {
        max-width: 100%;
      }

      .figure-browser-youtube {
        width: 100%;
      }

      > .addition-info,
      > .addition-warning,
      > .addition-danger {
        margin-block: 15px;

        &:first-child {
          margin-block-start: 5px;
        }

        &:last-child {
          margin-block-end: 5px;
        }
      }

      code {
        margin-inline: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > ul {
        margin-block: 5px;

        &:last-child {
          margin-block-end: 0;
        }

        > li {
          padding-inline: min(
              calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320))),
              20px
            )
            0;

          &::before {
            left: min(calc(4px + (6 - 4) * ((100vw - 320px) / (768 - 320))), 6px);
          }
        }
      }
    }

    > details {
      &:last-of-type .faq-summary {
        border-bottom: 1px solid var(--color-surface-primary-border);
        border-bottom-left-radius: $roundness;
        border-bottom-right-radius: $roundness;
      }

      &:first-of-type .faq-summary {
        border-top-left-radius: $roundness;
        border-top-right-radius: $roundness;
      }

      &:has(+ details[open]) .faq-summary {
        border-bottom: 1px solid var(--color-surface-primary-border);
        border-bottom-left-radius: $roundness;
        border-bottom-right-radius: $roundness;
      }

      &[open] {
        .faq-summary {
          border-bottom: 1px solid var(--color-surface-primary-border);
          border-radius: $roundness;
        }

        .faq-section {
          border-bottom-left-radius: $roundness;
          border-bottom-right-radius: $roundness;
        }

        & + details .faq-summary {
          border-top-left-radius: $roundness;
          border-top-right-radius: $roundness;
        }
      }
    }

    & details[open] {
      transition:
        transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
        filter 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
        margin-block 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-bottom: 1px solid var(--color-border-primary);
      border-bottom-left-radius: $roundness;
      border-bottom-right-radius: $roundness;
    }

    @media screen and (width <= 375px) {
      hyphens: auto;
    }
  }
}

.no-content-placeholder {
  opacity: 0.25;
  margin: 40px;
  margin-inline: auto;
  max-width: 600px;
  text-align: center;
  color: var(--color-surface-primary-text);
  font-size: 1.15rem;
  font-weight: 600;
  font-style: italic;

  p {
    line-height: 1.3;
  }
}

body {
  &.body-has-any-spoiler-open .faq-content {
    details[open] {
      transform: scale(1.01);
      transform-origin: top;
      margin-block: 15px;
    }
  }

  &.has-open-details .faq-content {
    details:not([open]) {
      opacity: 0.35;

      &:hover {
        opacity: 1;
      }
    }

    details[open] {
      filter: drop-shadow(0 0 30px var(--color-surface-primary-open-shadow));
    }
  }
}

details {
  user-select: none;

  summary {
    position: relative;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    .faq-summary-icon {
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .details-content-wrapper {
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    margin-block-start: -15px;
    max-height: 0;
    overflow: hidden;

    .details-content-inner {
      overflow: hidden;
    }
  }

  &.is-open {
    summary .faq-summary-icon {
      transform: rotate(45deg);
    }
  }

  &[open] {
    .faq-section {
      p,
      li,
      .addition-info,
      .addition-warning,
      .addition-danger {
        user-select: text;
      }
    }
  }
}

.copy-button {
  flex: none;

  &.disabled {
    filter: saturate(0) opacity(0.25);
    cursor: not-allowed;
  }
}

html.no-spoiler-animation {
  details .details-content-wrapper {
    transition: none;
  }
}
