@use "../../abstracts/mixins" as *;

.rules-title {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid var(--color-surface-primary-border);
  background-color: var(--color-surface-primary-background);
  padding: 10px 15px;
  color: var(--color-surface-primary-text);
  font-weight: 650;
  font-size: min(
    calc(1.15rem + (1.225 - 1.15) * ((100vw - 320px) / (768 - 320))),
    1.225rem
  );
  line-height: 1.3;
  font-family: Onest, sans-serif;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    background-color: var(--color-surface-primary-background-active);
  }

  &:first-of-type {
    border-top-right-radius: $roundness;
    border-top-left-radius: $roundness;
  }

  h3 {
    text-wrap: balance;
    margin-inline-end: 15px;
  }
}

.rules-content {
  margin-block: -1px;
  border: solid 1px var(--color-border-primary);
  background-color: var(--color-background-secondary);
  padding-block: 1px;

  &:last-of-type {
    border-bottom-right-radius: $roundness;
    border-bottom-left-radius: $roundness;
  }
}

.message-correct,
.message-incorrect {
  flex: 1 0 300px;
  border-radius: $roundness;
  padding-bottom: 10px;
}

.message-incorrect {
  border: 1px solid var(--color-status-danger-subtle-border);
  background: var(--color-status-danger-subtle-background);
}

.message-correct {
  border: 1px solid var(--color-status-success-subtle-border);
  background: var(--color-status-success-subtle-background);
}

.message-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-block: 10px;
}

.message-left {
  filter: saturate(0%);
  margin-right: auto;
  margin-left: 10px;
  margin-block: 10px;
  border: 1px solid var(--color-mark-border);
  border-radius: $roundness * 0.75;
  background-color: var(--color-mark-background);
  padding: 8px;
  max-width: 70%;
  color: var(--color-mark-text);
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: left;
}

.message-right {
  filter: saturate(100%);
  margin-right: 10px;
  margin-left: auto;
  margin-block: 10px;
  border: 1px solid var(--color-mark-border);
  border-radius: $roundness * 0.75;
  background-color: var(--color-mark-background);
  padding: 10px;
  max-width: 70%;
  color: var(--color-mark-text);
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: right;
}