@use "../../abstracts/mixins" as *;

.rules {
  &-title {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid var(--color-surface-primary-border);
    background-color: var(--color-surface-primary-background);
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--color-surface-primary-text);
    font-family: Onest, sans-serif;
    font-size: min(
      calc(1.15rem + (1.225 - 1.15) * ((100vw - 320px) / (768 - 320))),
      1.225rem
    );
    font-weight: 650;

    &:hover {
      background-color: var(--color-surface-primary-background-hover);
    }

    &:active {
      background-color: var(--color-surface-primary-background-active);
    }

    &:first-of-type {
      border-top-left-radius: $roundness;
      border-top-right-radius: $roundness;
    }

    h3 {
      text-wrap: balance;
      margin-inline-end: 15px;
    }
  }

  &-content {
    margin-block: -1px;
    border: solid 1px var(--color-border-primary);
    background-color: var(--color-background-secondary);
    padding-block: 1px;

    &:last-of-type {
      border-bottom-left-radius: $roundness;
      border-bottom-right-radius: $roundness;
    }
  }
}

.message {
  &-correct,
  &-incorrect {
    flex: 1 0 300px;
    border-radius: $roundness;
    padding-bottom: 10px;
  }

  &-incorrect {
    border: 1px solid var(--color-status-danger-subtle-border);
    background: var(--color-status-danger-subtle-background);
  }

  &-correct {
    border: 1px solid var(--color-status-success-subtle-border);
    background: var(--color-status-success-subtle-background);
  }

  &-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin-block: 10px;
  }

  &-left {
    margin-right: auto;
    margin-left: 10px;
    margin-block: 10px;
    border: 1px solid var(--color-mark-border);
    border-radius: $roundness * 0.75;
    background-color: var(--color-mark-background);
    padding: 8px;
    max-width: 70%;
    text-align: left;
    line-height: 1.5;
    color: var(--color-mark-text);
    font-size: 0.875rem;
    filter: saturate(0%);
  }

  &-right {
    margin-right: 10px;
    margin-left: auto;
    margin-block: 10px;
    border: 1px solid var(--color-mark-border);
    border-radius: $roundness * 0.75;
    background-color: var(--color-mark-background);
    padding: 10px;
    max-width: 70%;
    text-align: right;
    line-height: 1.5;
    color: var(--color-mark-text);
    font-size: 0.875rem;
    filter: saturate(100%);
  }
}
