@use "../../abstracts/mixins" as *;

.rules {
  &-title {
    @include details-summary-base();

    border-bottom: $stroke-1 solid var(--color-surface-primary-border);
    border-radius: $roundness;

    &:hover {
      outline-color: color-mix(
        in hsl,
        var(--color-surface-primary-border)
          calc(100% - var(--color-interaction-primary-hover-shift)),
        var(--color-interaction-mix-color) var(--color-interaction-primary-hover-shift)
      );
      border-color: color-mix(
        in hsl,
        var(--color-surface-primary-border)
          calc(100% - var(--color-interaction-primary-hover-shift)),
        var(--color-interaction-mix-color) var(--color-interaction-primary-hover-shift)
      );
    }

    &:active {
      outline-color: color-mix(
        in hsl,
        var(--color-surface-primary-border)
          calc(100% - var(--color-interaction-primary-active-shift)),
        var(--color-interaction-mix-color) var(--color-interaction-primary-active-shift)
      );
      border-color: color-mix(
        in hsl,
        var(--color-surface-primary-border)
          calc(100% - var(--color-interaction-primary-active-shift)),
        var(--color-interaction-mix-color) var(--color-interaction-primary-active-shift)
      );
    }

    &:not(:last-child) {
      border-bottom-color: var(--color-surface-primary-border);

      &:hover {
        border-bottom-color: color-mix(
          in hsl,
          var(--color-surface-primary-border)
            calc(100% - var(--color-interaction-primary-hover-shift)),
          var(--color-interaction-mix-color) var(--color-interaction-primary-hover-shift)
        );
      }

      &:active {
        border-bottom-color: color-mix(
          in hsl,
          var(--color-surface-primary-border)
            calc(100% - var(--color-interaction-primary-active-shift)),
          var(--color-interaction-mix-color) var(--color-interaction-primary-active-shift)
        );
      }
    }
  }

  &-section {
    padding-block-start: $space-16;
  }

  &-content {
    margin-block: -$space-16 $space-8;
    border: solid $stroke-1 var(--color-border-primary);
    border-bottom-left-radius: $roundness;
    border-bottom-right-radius: $roundness;
    background-color: var(--color-background-secondary);
    padding-block: $space-0;
  }
}

.message {
  &-correct,
  &-incorrect {
    @include fluid-size(padding-bottom, $space-4, $space-8);

    flex: 1 0 300px;
    border-radius: $roundness;
  }

  &-incorrect {
    border: $stroke-1 solid var(--color-status-danger-subtle-border);
    background: var(--color-status-danger-subtle-background);
  }

  &-correct {
    border: $stroke-1 solid var(--color-status-success-subtle-border);
    background: var(--color-status-success-subtle-background);
  }

  &-flex {
    display: flex;
    flex-flow: row wrap;
    gap: $space-16;
    align-items: center;
    justify-content: space-between;
    margin-block: $space-8;
  }

  &-left {
    @include fluid-size(padding, $space-4, $space-8);

    margin-right: auto;
    margin-left: $space-8;
    margin-block: $space-8;
    border: $stroke-1 solid var(--color-mark-border);
    border-radius: $roundness * 0.75;
    background-color: var(--color-mark-background);
    max-width: 70%;
    text-align: left;
    line-height: 1.5;
    color: var(--color-mark-text);
    font-size: $font-size-text-sm;
    filter: saturate(0%);
  }

  &-right {
    @include fluid-size(padding, $space-4, $space-8);

    margin-right: $space-8;
    margin-left: auto;
    margin-block: $space-8;
    border: $stroke-1 solid var(--color-mark-border);
    border-radius: $roundness * 0.75;
    background-color: var(--color-mark-background);
    max-width: 70%;
    text-align: right;
    line-height: 1.5;
    color: var(--color-mark-text);
    font-size: $font-size-text-sm;
    filter: saturate(100%);
  }

  &-time {
    opacity: 0.5;
    text-align: center;
    font-size: 0.725rem;
  }
}

.chat {
  &-rules {
    &-container {
      margin-block-start: $space-20;
    }

    &-muted {
      opacity: 0.5;
    }

    &-list-compact {
      margin-inline: -15px;
    }

    &-links-inline {
      margin-inline: 0;

      .flexible-links {
        margin-inline: 0;
        border-radius: $roundness * 0.75;
        overflow: hidden;
      }

      li > .flexible-links {
        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }
    }
  }
}
