@use "../../abstracts/mixins" as *;

@mixin chat-message-bubble($margin-right, $margin-left, $text-align, $saturate) {
  @include fluid-size(padding, $space-4, $space-8);

  margin-right: $margin-right;
  margin-left: $margin-left;
  margin-block: $space-8;
  border: $stroke-1 solid var(--color-mark-border);
  border-radius: $roundness * 0.75;
  background-color: var(--color-mark-background);
  max-width: 70%;
  text-align: $text-align;
  line-height: 1.5;
  color: var(--color-mark-text);
  font-size: $font-size-text-sm;
  filter: saturate($saturate);
}

.message {
  &-correct,
  &-incorrect {
    @include fluid-size(padding-bottom, $space-4, $space-8);

    flex: 1 0 300px;
    border-radius: $roundness;
  }

  &-incorrect {
    border: $stroke-1 solid var(--color-addition-danger-subtle-border);
    background: var(--color-addition-danger-subtle-background);
  }

  &-correct {
    border: $stroke-1 solid var(--color-addition-success-subtle-border);
    background: var(--color-addition-success-subtle-background);
  }

  &-flex {
    display: flex;
    flex-flow: row wrap;
    gap: $space-16;
    align-items: center;
    justify-content: space-between;
    margin-block: $space-8;
  }

  &-left {
    @include chat-message-bubble(auto, $space-8, left, 0%);
  }

  &-right {
    @include chat-message-bubble($space-8, auto, right, 100%);
  }

  &-time {
    opacity: 0.5;
    text-align: center;
    font-size: 0.725rem;
  }
}

.chat {
  &-rules {
    &-container {
      margin-block-start: $space-20;
    }

    &-muted {
      opacity: 0.5;
    }

    &-list-compact {
      margin-inline: -15px;
    }

    &-links-inline {
      margin-inline: 0;

      .flexible-links {
        margin-inline: 0;
        border-radius: $roundness * 0.75;
        overflow: hidden;
      }

      li > .flexible-links {
        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }
    }
  }
}
