$dark-theme-map: (
  color: (
    background: (
      primary: hsl(0deg 0% 0%),
      secondary: hsl(0deg 0% 6%),
      overlay: hsl(0deg 0% 0% / 70%),
      header: hsl(var(--accent-hue) calc(10% * var(--saturate-ratio)) 7% / 80%),
      modal: hsl(var(--accent-hue) calc(8% * var(--saturate-ratio)) 5% / 75%),
      table: hsl(0deg calc(0% * var(--saturate-ratio)) 10%),
      table-hover: hsl(0deg calc(0% * var(--saturate-ratio)) 13%),
      divider: hsl(var(--accent-hue) calc(7.5% * var(--saturate-ratio)) 8%),
    ),
    text: (
      primary: hsl(0deg 0% 95%),
      tertiary: hsl(0deg 0% 60%),
    ),
    accent: hsl(var(--accent-hue) calc(100% * var(--saturate-ratio)) 73%),
    border: (
      primary: hsl(0deg 0% 18%),
      header: hsl(var(--accent-hue) calc(10% * var(--saturate-ratio)) 25% / 50%),
      modal: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 15% / 50%),
      table: hsl(0deg calc(0% * var(--saturate-ratio)) 16%),
      divider: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 15%),
      dropdown: hsl(0deg 0% 20%),
    ),
    surface: (
      primary: (
        background: hsl(var(--accent-hue) calc(12.5% * var(--saturate-ratio)) 9%),
        background-hover: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 13%),
        background-active: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 7%),
        border: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 22%),
        text: hsl(var(--accent-hue) calc(90% * var(--saturate-ratio)) 83.5%),
        open-shadow: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 15%),
      ),
      card: (
        background: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 7%),
        background-hover: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 11%),
        background-active: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 5%),
        border: hsl(var(--accent-hue) calc(12% * var(--saturate-ratio)) 19%),
        text: hsl(var(--accent-hue) calc(85% * var(--saturate-ratio)) 86%),
      ),
      dropdown: (
        background-hover: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 11%),
        background-active: hsl(var(--accent-hue) calc(25% * var(--saturate-ratio)) 9%),
        border-hover: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 15%),
      ),
    ),
    button-group: (
      background: hsl(var(--accent-hue) calc(10% * var(--saturate-ratio)) 9%),
      background-hover: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 14%),
      background-active: hsl(var(--accent-hue) calc(12.5% * var(--saturate-ratio)) 11%),
      border: hsl(var(--accent-hue) calc(10% * var(--saturate-ratio)) 18%),
      text: hsl(var(--accent-hue) calc(80% * var(--saturate-ratio)) 88%),
      selected: hsl(var(--accent-hue) calc(17.5% * var(--saturate-ratio)) 12.5%),
    ),
    widget: (
      background: hsl(var(--accent-hue) calc(12.5% * var(--saturate-ratio)) 8%),
      background-hover: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 13%),
      background-active: hsl(var(--accent-hue) calc(25% * var(--saturate-ratio)) 11%),
      border: hsl(var(--accent-hue) calc(15% * var(--saturate-ratio)) 15%),
      text: hsl(var(--accent-hue) calc(75% * var(--saturate-ratio)) 92%),
    ),
    icon: (
      primary: hsl(var(--accent-hue) calc(100% * var(--saturate-ratio)) 85%),
      primary-hover: hsl(var(--accent-hue) calc(100% * var(--saturate-ratio)) 95%),
      primary-active: hsl(var(--accent-hue) calc(100% * var(--saturate-ratio)) 75%),
    ),
    mark: (
      background: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 12.5%),
      border: hsl(var(--accent-hue) calc(20% * var(--saturate-ratio)) 25%),
      text: hsl(var(--accent-hue) calc(75% * var(--saturate-ratio)) 90%),
    ),
    status: (
      info: (
        background: hsl(190deg 45% 12%),
        border: hsl(190deg 35% 25%),
        text: hsl(190deg 85% 88%),
        mark-background: hsl(190deg 45% 15%),
      ),
      warning: (
        background: hsl(48deg 45% 12%),
        border: hsl(48deg 35% 25%),
        text: hsl(48deg 85% 88%),
        mark-background: hsl(48deg 45% 15%),
      ),
      danger: (
        background: hsl(0deg 40% 12%),
        border: hsl(0deg 35% 25%),
        text: hsl(0deg 95% 88%),
        mark-background: hsl(0deg 40% 15%),
      ),
      tldr: (
        background: hsl(160deg 40% 12%),
        border: hsl(160deg 35% 25%),
        text: hsl(160deg 85% 88%),
        mark-background: hsl(160deg 45% 15%),
      ),
      success-subtle: (
        background: hsl(120deg 100% 50% / 10%),
        border: hsl(120deg 100% 50% / 25%),
      ),
      danger-subtle: (
        background: hsl(0deg 100% 50% / 10%),
        border: hsl(0deg 100% 50% / 25%),
      ),
    ),
    code: (
      background: hsl(225deg 10% 15%),
      border: hsl(225deg 15% 22%),
      text: hsl(225deg 15% 95%),
    ),
    easing: (
      selection: hsl(50deg 100% 50%),
      text-primary: hsl(0deg 0% 90%),
      text-muted: hsl(0deg 0% 65%),
      control-background: hsl(var(--accent-hue) 4% 17%),
      control-background-hover: hsl(var(--accent-hue) 4% 20%),
      control-border: hsl(var(--accent-hue) 3% 29%),
      control-border-hover: hsl(0deg 0% 40%),
      display-background: hsl(var(--accent-hue) 4% 13%),
      graph-background: hsl(0deg 0% 19%),
      graph-border: hsl(0deg 0% 27%),
      grid-major: hsl(0deg 0% 15%),
      grid-minor: hsl(0deg 0% 12%),
      curve: hsl(0deg 0% 75%),
      track-background: hsl(var(--accent-hue) 3% 29%),
    ),
  ),
  shadow: (
    primary: hsl(0deg 0% 0% / 8%),
    secondary: hsl(0deg 0% 0% / 5%),
  ),
);
