$roundness: 8px;
$space-0: 0;
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$inset-8: 8px;
$inset-12: 12px;
$inset-20: 20px;
$inset-64: 64px;
$stroke-1: 1px;
$stroke-2: 2px;
$shadow-box-interactive-base: 0 10px 24px transparent;
$shadow-box-interactive-hover: 0 10px 24px var(--shadow-strong);
$shadow-box-interactive-active: 0 10px 24px var(--shadow-soft);
$shadow-filter-content-soft: drop-shadow(0 5px 5px var(--shadow-strong));
$shadow-filter-content-strong: drop-shadow(0 5px 10px var(--shadow-strong));
$shadow-filter-surface: drop-shadow(0 10px 15px var(--shadow-strong));
$shadow-filter-overlay: drop-shadow(0 0 15px var(--shadow-strong));
$shadow-filter-state-open: drop-shadow(0 0 30px var(--color-surface-primary-open-shadow));
$duration-250: 0.25s;
$duration-500: 0.5s;
$duration-750: 0.75s;
$duration-1000: 1s;
$font-size-text-xs: 0.825rem;
$font-size-text-sm: 0.9rem;
$font-size-text-md: 0.95rem;
$font-size-text-base: 1rem;
$font-size-heading-xs: 1.1rem;
$font-size-heading-sm: 1.25rem;
$font-size-heading-md: 1.35rem;
$font-size-heading-lg: 1.75rem;
$font-size-display-sm: 3.5rem;
$font-size-display-md: 8rem;
$font-size-display-lg: 16rem;
$font-size-display-xl: 18rem;
$z-base: 0;
$z-raised: 4;
$z-floating: 10;
$z-header: 100;
$z-overlay: 1000;
$z-modal: 9999;
$z-top: 10000;
$z-loader: 100000;
