@use "light-colors" as *;
@use "dark-colors" as *;
@use "sass:meta";
@use "mixins" as *;

:root {
  --accent-hue: 210;
  --saturate-ratio: 1;
  --max-width: 1175px;
}

.light {
  @include generate-vars-from-map($light-theme-map);
}

.dark {
  @include generate-vars-from-map($dark-theme-map);
}
