@use "mixins" as *;

li > .addition-info,
li > .addition-warning,
li > .addition-danger,
.links > .addition-info,
.links > .addition-warning,
.links > .addition-danger,
.faq-container > .addition-info,
.faq-container > .addition-warning,
.faq-container > .addition-danger,
.faq-content > .addition-info,
.faq-content > .addition-warning,
.faq-content > .addition-danger,
.addition-info > .addition-info,
.addition-info > .addition-warning,
.addition-info > .addition-danger,
.addition-warning > .addition-info,
.addition-warning > .addition-warning,
.addition-warning > .addition-danger,
.addition-danger > .addition-info,
.addition-danger > .addition-warning,
.addition-danger > .addition-danger {
  gap: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-inline: 0;
  border-radius: $roundness * 0.75;
  padding-inline: 15px;
  font-size: 0.935rem;
}

.rules-section > .addition-info,
.rules-section > .addition-warning,
.rules-section > .addition-danger {
  margin-inline: 0;
  margin-block: 10px;
  border-radius: 0;
}

.addition-info,
.addition-warning,
.addition-danger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  box-sizing: content-box;
  margin-inline: 0;
  margin-block: 15px;
  padding-inline: min(calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))), 20px);
  padding-block: min(calc(8px + (12 - 8) * ((100vw - 320px) / (768 - 320))), 12px);
  font-weight: 425;
  font-size: 0.95rem;
  line-height: 1.6;

  p {
    margin-inline: 0;
    margin-block: 10px;

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }

    &:not(:first-child) {
      margin-block-start: 10px;
    }

    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }

  a {
    font-weight: 700;
    text-decoration: underline;
  }

  mark {
    background: none;
    padding: 2px 2.5px 2px 2px;

    &::before {
      width: min(calc(11px + (13 - 11) * ((100vw - 320px) / (768 - 320))), 13px);
      height: min(calc(11px + (13 - 11) * ((100vw - 320px) / (768 - 320))), 13px);
    }
  }

  ul {
    margin-inline-start: -10px;
    margin-inline-end: 0;
    margin-block: 0;

    &:not(:first-child) {
      margin-block-start: 10px;
    }

    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }

  li {
    position: relative;
    margin-inline-start: 20px;
    margin-block: 5px;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    padding-block: 3px;
    line-height: 1.6;

    &:not(:last-child) {
      border-bottom: 1px solid;
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 8px;
      bottom: 7px;
      left: -12px;
      opacity: 0.5;
      border-radius: $roundness;
      width: 1px;
      content: "";
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li > ul {
    margin-block: 5px;
  }

  li > ul > li {
    padding-inline: 0;

    &::before {
      left: -12px;
    }
  }
}

.faq-content {
  > .addition-info:first-child,
  > .addition-warning:first-child,
  > .addition-danger:first-child {
    margin-top: 10px;
  }

  > .addition-info:last-child,
  > .addition-warning:last-child,
  > .addition-danger:last-child {
    margin-bottom: 10px;
  }
}

.addition-info {
  outline: 1px solid var(--addition-info-border);
  background-color: var(--addition-info-background);
  color: var(--addition-info-text);

  .figure {
    &-windows {
      &-dark {
        outline: 1px solid var(--addition-info-border);
      }
    }
  }

  .change-os {
    margin-inline: -5px;
    outline: 1px solid var(--addition-info-border);
    border-radius: $roundness * 0.5;
    background-color: var(--addition-info-mark);
    padding: 5px;
    color: var(--addition-info-text);
    line-height: 1.25;
    text-align: center;
    button {
      color: var(--addition-info-mark);
      outline: 1px solid var(--addition-info-border);
    }
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--addition-info-text);

    &::before {
      background-color: var(--addition-info-text);
    }
  }

  li {
    &::before {
      background-color: var(--addition-info-text);
    }

    &:not(:last-child) {
      border-bottom-color: var(--addition-info-border);
    }
  }

  mark {
    outline: 1px solid var(--addition-info-border);
    color: var(--addition-info-text);

    &::before {
      background-color: var(--addition-info-text) !important;
    }
  }
}

.addition-warning {
  outline: 1px solid var(--addition-warning-border);
  background-color: var(--addition-warning-background);
  color: var(--addition-warning-text);

  .figure {
    &-windows {
      &-dark {
        outline: 1px solid var(--addition-warning-border);
        box-shadow: inset 0 0 50px 0 var(--addition-warning-background);
      }
    }
  }

  a {
    color: var(--addition-warning-text);

    &::before {
      background-color: var(--addition-warning-text);
    }
  }

  li {
    &::before {
      background-color: var(--addition-warning-text);
    }

    &:not(:last-child) {
      border-bottom-color: var(--addition-warning-border);
    }
  }

  mark {
    outline: 1px solid var(--addition-warning-border);
    color: var(--addition-warning-text);

    &::before {
      background-color: var(--addition-warning-text) !important;
    }
  }
}

.addition-danger {
  outline: 1px solid var(--addition-danger-border);
  background-color: var(--addition-danger-background);
  color: var(--addition-danger-text);

  .figure {
    &-windows {
      &-dark {
        outline: 1px solid var(--addition-danger-border);
        box-shadow: inset 0 0 50px 0 var(--addition-danger-background);
      }
    }
  }

  a {
    color: var(--addition-danger-text);

    &::before {
      background-color: var(--addition-danger-text);
    }
  }

  li {
    &::before {
      background-color: var(--addition-danger-text);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--addition-danger-border);
    }
  }

  mark {
    outline: 1px solid var(--addition-danger-border);
    color: var(--addition-danger-text);

    &::before {
      background-color: var(--addition-danger-text) !important;
    }
  }
}

li {
  .change-os,
  .addition-info,
  .addition-warning,
  .addition-danger {
    margin-inline: 0;
    margin-block: 5px;
    border-radius: $roundness * 0.75;
  }
}

.change-os {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-block-start: -1px;
  outline: 1px solid var(--filter-border);
  background-color: var(--filter-background);
  padding: 10px 15px;
  color: var(--filter-text);
  font-size: 0.9375rem;
  line-height: 1.5;

  button {
    opacity: 0.75;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-inline-start: 5px;
    outline: 1px solid var(--filter-border);
    border-radius: $roundness * 0.5;
    padding: 5px 8px;
    color: var(--filter-text);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1.25;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  a {
    color: var(--addition-warning-text);
  }

  mark {
    outline: 1px solid var(--addition-warning-border);
    background-color: var(--addition-warning-mark);
    color: var(--addition-warning-text);

    &::before {
      background-color: var(--addition-warning-text) !important;
    }
  }
}
