$dark: (
  // ~: стандартные цвета:
  background-color: hsl(0, 0%, 0%),
  background-color-alpha: hsla(0, 0%, 0%, 0.7),
  text-color: hsl(0, 0%, 100%),
  modal-background-color: hsla(var(--accent-hue), calc(8% * var(--saturate-ratio)), 5%, 0.75),
  modal-background-border: hsla(var(--accent-hue), calc(20% * var(--saturate-ratio)), 15%, 0.5),
  content-background-color: hsl(0, 0%, 6%),
  content-background-border: hsl(0, 0%, 15%),
  header-background: hsla(var(--accent-hue), calc(30% * var(--saturate-ratio)), 7%, 0.8),
  // ~: банковские цвета:
  sber-background: hsl(130, calc(30% * var(--saturate-ratio)), 13%),
  sber-text: hsl(130, calc(60% * var(--saturate-ratio)), 85%),
  sber-hover: hsl(130, calc(40% * var(--saturate-ratio)), 15%),
  sber-active: hsl(130, calc(45% * var(--saturate-ratio)), 18%),
  sber-border: hsl(130, calc(50% * var(--saturate-ratio)), 30%),
  yoomoney-background: hsl(257, calc(50% * var(--saturate-ratio)), 17%),
  yoomoney-text: hsl(257, calc(70% * var(--saturate-ratio)), 85%),
  yoomoney-hover: hsl(257, calc(50% * var(--saturate-ratio)), 20%),
  yoomoney-active: hsl(257, calc(55% * var(--saturate-ratio)), 23%),
  yoomoney-border: hsl(257, calc(50% * var(--saturate-ratio)), 50%),
  // ~: с применением акцентного цвета:
  accent: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 73%),
  mark-background: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 12.5%),
  mark-border: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 25%),
  mark-text: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 90%),
  button-background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 12.5%),
  button-hover: hsl(var(--accent-hue), calc(30% * var(--saturate-ratio)), 15.5%),
  button-active: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 12.5%),
  button-border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 25%),
  header-border: hsla(var(--accent-hue), calc(10% * var(--saturate-ratio)), 25%, 0.5),
  // *: стили summary
  summary-background: hsl(var(--accent-hue), calc(12.5% * var(--saturate-ratio)), 6%),
  summary-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  summary-text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  summary-hover: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  summary-active: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  // ~: информационные блоки:
  addition-info-background: hsl(190, 35%, 10%),
  addition-info-border: hsl(190, 30%, 20%),
  addition-info-text: hsl(190, 75%, 90%),
  // ~: предупреждающие блоки:
  addition-warning-background: hsl(50, 35%, 11%),
  addition-warning-border: hsl(50, 25%, 20%),
  addition-warning-text: hsl(50, 75%, 92.5%),
  // ~: остерегающие блоки:
  addition-danger-background: hsl(0, 35%, 11%),
  addition-danger-border: hsl(0, 30%, 20%),
  addition-danger-text: hsl(0, 100%, 90%),
  // *: стили таблицы
  table-background: hsl(0, calc(0% * var(--saturate-ratio)), 8%),
  table-background-border: hsl(0, calc(0% * var(--saturate-ratio)), 13%),
  // ~: интерактивные элементы
  button-group-background: hsl(var(--accent-hue), calc(10% * var(--saturate-ratio)), 8%),
  button-group-border: hsl(var(--accent-hue), calc(10% * var(--saturate-ratio)), 18%),
  button-group-text: hsl(var(--accent-hue), calc(80% * var(--saturate-ratio)), 85%),
  button-group-hover: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 12%),
  button-group-active: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 10%),
  filter-background: hsl(var(--accent-hue), calc(10% * var(--saturate-ratio)), 10%),
  filter-border: hsl(var(--accent-hue), calc(5% * var(--saturate-ratio)), 20%),
  filter-text: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 75%),
  link-card-background: hsl(var(--accent-hue), calc(7.5% * var(--saturate-ratio)), 6%),
  link-card-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  link-card-text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  link-card-hover: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  link-card-active: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  // ~: поиск
  search-input-background: hsl(var(--accent-hue), calc(12.5% * var(--saturate-ratio)), 6%),
  search-input-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  search-input-text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  search-input-button-hover: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  search-input-button-active: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  search-result-background: hsl(var(--accent-hue), calc(12.5% * var(--saturate-ratio)), 6%),
  search-result-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  search-result-hover: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  search-result-active: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  search-result-text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  search-result-selected-border: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 73%),
  search-result-content-background: hsla(
    var(--accent-hue),
    calc(8% * var(--saturate-ratio)),
    5%,
    0.75
  ),
  search-result-content-border: hsla(var(--accent-hue), calc(20% * var(--saturate-ratio)), 15%, 0.5),
  // ~: прочие элементы
  icon-button-fill: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  icon-button-hover-fill: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 90%),
  icon-button-active-fill: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 70%),
  divider-background: hsl(var(--accent-hue), calc(12.5% * var(--saturate-ratio)), 6%),
  divider-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  dropdown-border: hsl(0, 0%, 20%),
  dropdown-item-hover-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  dropdown-item-hover-background: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  dropdown-item-active-background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  // ~: виджеты
  header-widget-background: hsl(var(--accent-hue), calc(12.5% * var(--saturate-ratio)), 6%),
  header-widget-border: hsl(var(--accent-hue), calc(15% * var(--saturate-ratio)), 15%),
  header-widget-text: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 90%),
  header-widget-hover: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 11%),
  header-widget-active: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 9%),
  // ~: контентные фигуры
  figure-youtube-background: hsl(0deg 0% 12.5%),
  figure-youtube-border: hsl(0deg 0% 20%),
  figure-youtube-text: hsl(0deg 0% 100%),
  figure-youtube-hover: hsl(0deg 0% 15%),
  figure-youtube-active: hsl(0deg 0% 10%),
  figure-control-hover: hsl(0deg 0% 80% / 15%),
  figure-control-active: hsl(0deg 0% 80% / 20%),
  figure-close-control-hover: hsl(0deg 100% 85% / 25%),
  figure-close-control-active: hsl(0deg 100% 85% / 30%),
  // ~: редактор easing: (ДОБАВЛЕННЫЕ ЦВЕТА)
  easing-selection-color: hsl(50, 100%, 50%),
  // для ручек, кубика, ключевых точек
  easing-text-primary: hsl(0, 0%, 90%),
  // основной текст
  easing-text-muted: hsl(0, 0%, 65%),
  // приглушенный текст (подписи)
  easing-control-background: hsl(var(--accent-hue), 4%, 17%),
  // фон кнопок и селекторов
  easing-control-background-hover: hsl(var(--accent-hue), 4%, 20%),
  // фон при наведении
  easing-control-border: hsl(var(--accent-hue), 3%, 29%),
  // рамка кнопок
  easing-control-border-hover: hsl(0, 0%, 40%),
  // рамка при наведении
  easing-display-background: hsl(var(--accent-hue), 4%, 13%),
  // фон для таймкода
  easing-graph-area-background: hsl(0, 0%, 19%),
  // фон самого графика
  easing-graph-area-border: hsl(0, 0%, 27%),
  // рамка контейнера графика
  easing-graph-grid-major: hsl(0, 0%, 15%),
  // основные линии сетки
  easing-graph-grid-minor: hsl(0, 0%, 12%),
  // второстепенные линии сетки
  easing-graph-curve-line: hsl(0, 0%, 75%),
  // цвет кривой
  easing-track-line-background: hsl(var(--accent-hue), 3%, 29%) // фон трека анимации
);
