details {
  summary {
    position: relative;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    .faq-summary-icon {
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .details-content-wrapper {
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    margin-block-start: -15px;
    max-height: 0;
    overflow: hidden;

    .details-content-inner {
      overflow: hidden;
    }
  }

  &.is-open {
    summary .faq-summary-icon {
      transform: rotate(45deg);
    }
  }
}
