$light: (
  // ~: стандартные цвета:
  background-color: hsl(0, 0%, 95%),
  background-color-alpha: hsla(0, 0%, 85%, 0.35),
  text-color: hsl(0, 0%, 20%),
  content-background-color: hsl(0, 0%, 100%),
  content-background-border: hsl(0, 0%, 87.5%),
  header-background: hsla(0, 0%, 100%, 0.75),
  // ~: банковские цвета:
  sber-background: hsl(130, calc(60% * var(--saturate-ratio)), 92.5%),
  sber-text: hsl(130, calc(50% * var(--saturate-ratio)), 20%),
  sber-hover: hsl(130, calc(50% * var(--saturate-ratio)), 85%),
  sber-border: hsl(130, calc(50% * var(--saturate-ratio)), 75%),
  yoomoney-background: hsl(257, calc(75% * var(--saturate-ratio)), 95%),
  yoomoney-text: hsl(257, calc(50% * var(--saturate-ratio)), 25%),
  yoomoney-hover: hsl(257, calc(50% * var(--saturate-ratio)), 85%),
  yoomoney-border: hsl(257, calc(90% * var(--saturate-ratio)), 85%),
  // ~: с применением акцентного цвета:
  accent: hsl(var(--accent-hue), calc(65% * var(--saturate-ratio)), 45%),
  mark-background: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 97%),
  mark-text: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 25%),
  mark-border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
  button-background: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
  button-border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
  header-border: hsla(var(--accent-hue), calc(35% * var(--saturate-ratio)), 80%, 0.5),
  // *: стили summary
  summary-background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 98%),
  summary-border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 85%),
  summary-text: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 40%),
  // *: стили кнопок главной страницы
  links-background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
  links-gradient: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
  links-border: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 85%),
  links-hover: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
  links-text: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 40%),
  // ~: информационные блоки:
  addition-info-background: hsl(190, calc(50% * var(--saturate-ratio)), 98%),
  addition-info-border: hsl(190, calc(50% * var(--saturate-ratio)), 85%),
  addition-info-text: hsl(190, calc(75% * var(--saturate-ratio)), 25%),
  // ~: предупреждающие блоки:
  addition-warning-background: hsl(50, calc(100% * var(--saturate-ratio)), 97%),
  addition-warning-border: hsl(50, calc(50% * var(--saturate-ratio)), 85%),
  addition-warning-text: hsl(50, calc(100% * var(--saturate-ratio)), 20%),
  // ~: остерегающие блоки:
  addition-danger-background: hsl(0, calc(100% * var(--saturate-ratio)), 98%),
  addition-danger-border: hsl(0, calc(50% * var(--saturate-ratio)), 87.5%),
  addition-danger-text: hsl(0, calc(75% * var(--saturate-ratio)), 25%),
  // *: стили таблицы
  table-background: hsl(0, calc(0% * var(--saturate-ratio)), 98%),
  table-background-border: hsl(0, calc(0% * var(--saturate-ratio)), 90%)
);
