$light-theme-map: (
  color: (
    background: (
      primary: hsl(0, 0%, 95%),
      secondary: hsl(0, 0%, 100%),
      overlay: hsla(0, 0%, 85%, 0.35),
      header: hsla(var(--accent-hue), calc(100% * var(--saturate-ratio)), 98%, 0.75),
      modal: hsla(var(--accent-hue), calc(100% * var(--saturate-ratio)), 99%, 0.85),
      table: hsl(0, calc(0% * var(--saturate-ratio)), 98%),
      table-hover: hsl(0, calc(0% * var(--saturate-ratio)), 96%),
      divider: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
    ),
    text: (
      primary: hsl(0, 0%, 15%),
      tertiary: hsl(0, 0%, 50%),
    ),
    accent: hsl(var(--accent-hue) calc(65% * var(--saturate-ratio)) 45%),
    border: (
      primary: hsl(0, 0%, 85%),
      header: hsla(var(--accent-hue), calc(35% * var(--saturate-ratio)), 80%, 0.5),
      modal: hsla(var(--accent-hue), calc(50% * var(--saturate-ratio)), 90%, 0.5),
      table: hsl(0, calc(0% * var(--saturate-ratio)), 90%),
      divider: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 85%),
      dropdown: hsl(0, 0%, 85%),
    ),
    surface: (
      primary: (
        background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
        background-hover: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
        background-active: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 93%),
        border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 85%),
        text: hsl(var(--accent-hue), calc(60% * var(--saturate-ratio)), 40%),
        open-shadow: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 75%),
      ),
      card: (
        background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
        background-hover: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
        background-active: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 93%),
        border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 85%),
        text: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 35%),
      ),
      dropdown: (
        background-hover: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
        background-active: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 93%),
        border-hover: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 85%),
      ),
    ),
    'button-group': (
      background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 96%),
      background-hover: hsl(var(--accent-hue), calc(40% * var(--saturate-ratio)), 93%),
      background-active: hsl(var(--accent-hue), calc(40% * var(--saturate-ratio)), 91%),
      border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
      text: hsl(var(--accent-hue), calc(65% * var(--saturate-ratio)), 45%),
    ),
    widget: (
      background: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
      background-hover: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 93%),
      background-active: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 91%),
      border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
      text: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 25%),
    ),
    icon: (
      primary: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 40%),
      'primary-hover': hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 50%),
      'primary-active': hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 35%),
    ),
    mark: (
      background: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 97%),
      border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
      text: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 25%),
    ),
    status: (
      info: (
        background: hsl(190, 50%, 98%),
        border: hsl(190, 50%, 85%),
        text: hsl(190, 80%, 22%),
        'mark-background': hsl(190, 50%, 96%),
      ),
      warning: (
        background: hsl(50, 100%, 97%),
        border: hsl(50, 50%, 85%),
        text: hsl(50, 100%, 18%),
        'mark-background': hsl(50, 100%, 95%),
      ),
      danger: (
        background: hsl(0, 100%, 98%),
        border: hsl(0, 50%, 87.5%),
        text: hsl(0, 80%, 22%),
        'mark-background': hsl(0, 100%, 96%),
      ),
      'success-subtle': (
        background: hsla(120, 100%, 50%, 0.1),
        border: hsla(120, 100%, 50%, 0.25),
      ),
      'danger-subtle': (
        background: hsla(0, 100%, 50%, 0.1),
        border: hsla(0, 100%, 50%, 0.25),
      ),
    ),
    code: (
      background: hsl(225, 15%, 95%),
      border: hsl(225, 20%, 85%),
      text: hsl(225, 15%, 20%),
    ),
    easing: (
      selection: hsl(45, 85%, 40%),
      'text-primary': hsl(0, 0%, 20%),
      'text-muted': hsl(0, 0%, 45%),
      'control-background': hsl(var(--accent-hue), 8%, 98%),
      'control-background-hover': hsl(var(--accent-hue), 8%, 95%),
      'control-border': hsl(var(--accent-hue), 5%, 85%),
      'control-border-hover': hsl(var(--accent-hue), 5%, 75%),
      'display-background': hsl(var(--accent-hue), 5%, 93%),
      'graph-background': hsl(0, 0%, 100%),
      'graph-border': hsl(0, 0%, 92%),
      'grid-major': hsl(0, 0%, 85%),
      'grid-minor': hsl(0, 0%, 92%),
      curve: hsl(0, 0%, 30%),
      'track-background': hsl(var(--accent-hue), 5%, 85%),
    ),
  ),
  shadow: (
    primary: hsl(0deg 0% 0% / 8%),
    secondary: hsl(0deg 0% 0% / 5%),
  ),
);
