@use "mixins" as *;

.modal {
  display: flex;
  flex-direction: column;
}

.modal-header {
  text-wrap: balance;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  outline: 1px solid var(--summary-border);
  border-radius: $roundness;
  background-color: var(--summary-background);
  padding-inline: 15px;
  padding-inline-end: 10px;
  padding-block: 10px;
  line-height: 1.25;
  font-family: Onest, sans-serif;
  text-transform: uppercase;
}

.modal-header-title {
  color: var(--summary-text);
  font-weight: 500;
  font-size: 1.15rem;
}

.modal-header-close {
  color: var(--summary-text);
}

.modal-content {
  outline: 1px solid var(--modal-background-border);
  border-radius: $roundness;
  background-color: var(--modal-background-color);
  width: 100%;

  .flexible-links {
    border-radius: $roundness * 0.5;
  }
}

.modal-message {
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.875rem !important;
}

.modal-page-button {
  display: flex;
  flex: 1 1 150px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid var(--summary-border);
  border-radius: $roundness;
  background-color: var(--summary-background);
  padding: 10px 20px;
  color: var(--summary-text);
  font-weight: 700;
  font-size: 0.875rem;
  font-family: Onest, sans-serif;
  text-align: center;
}

.modal-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid var(--summary-border);
  border-radius: $roundness;
  background-color: var(--summary-background);
  padding: 10px 20px;
  width: calc(100% - 20px);
  color: var(--summary-text);
  font-weight: 700;
  font-size: 0.95rem;
  font-family: Onest, sans-serif;
  text-align: center;
}

.modal p {
  margin-inline: 15px;
  margin-block: 10px;
  font-size: 0.95rem;
  line-height: 1.5;
}

.modal a {
  color: var(--accent);
  font-weight: 700;
  text-decoration: underline;
}

.modal ul {
  margin-block: 10px;
}

.modal li {
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding-inline: 15px;
  padding-inline-start: 30px;
  padding-block: 10px;
  font-size: 0.95rem;
  line-height: 1.75;
  list-style-type: none;
}

.modal li:not(:last-child) {
  border-bottom: 1px solid var(--content-background-border);
}

.modal li::before {
  display: inline-block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 15px;
  opacity: 0.5;
  border-radius: $roundness;
  background-color: var(--accent);
  width: 2px;
  content: "";
}

.sber {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity,
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  border: solid 1px var(--sber-border);
  border-radius: $roundness * 0.75;
  background-color: var(--sber-background);
  padding: 10px 20px;
  color: var(--sber-text) !important;
  font-weight: 700;
  font-size: 1.05rem;

  &:hover {
    background-color: var(--sber-hover);
  }
}

.yoomoney {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity,
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  border: solid 1px var(--yoomoney-border);
  border-radius: $roundness * 0.75;
  background-color: var(--yoomoney-background);
  padding: 10px 20px;
  color: var(--yoomoney-text) !important;
  font-weight: 700;
  font-size: 1.05rem;

  &:hover {
    background-color: var(--yoomoney-hover);
  }
}

.modal-modal-title {
  opacity: 0.75;
  padding-inline: 15px;
  padding-block: 12px;
  font-weight: 450;
  font-size: 0.85rem;
  line-height: 1.25;
  text-align: center;
}

.modal-modal-tip {
  text-wrap: balance;
  opacity: 0.5;
  padding-inline: 15px;
  padding-block: 12px;
  max-width: 400px;
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: right;
}

.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin-block: 15px;

  svg {
    width: 20px;
    height: 20px;
  }
}
