@use "mixins" as *;

.search-input {
  padding-inline-start: 14px;
  padding-block: 8px;
  width: 100%;
  color: var(--search-input-text);
  font-weight: 600;
  font-size: 1rem;
}

.search-input::placeholder {
  opacity: 0.75;
  font-style: italic;
  font-weight: 450;
  font-size: 0.85rem;
  font-family: Onest;
  text-align: center;
}

.search-input-wrapper {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 100;
  outline: 1px solid var(--search-input-border);
  border-top-right-radius: $roundness;
  border-top-left-radius: $roundness;
  background-color: var(--search-input-background);
}

.search-input-close,
.search-input-clear {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
  color: var(--search-input-text);

  &:hover {
    background-color: var(--search-input-button-hover);
  }

  &:active {
    background-color: var(--search-input-button-active);
  }
}

.search-input-close svg,
.search-input-clear svg {
  width: 17px;
  height: 17px;
}

.search-results {
  display: block;
  position: relative;
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  mask-position: 0 50%;
  mask-size: 100% 200%;
  mask-repeat: no-repeat;
  transition:
    -webkit-mask-position 0.5s ease,
    mask-position 0.5s ease;
  margin: -2px;
  border-bottom-right-radius: $roundness;
  border-bottom-left-radius: $roundness;
  padding: 2px;
  max-height: clamp(
    47.5svh,
    calc(47.5svh + (100 - 47.5) * ((100vw - 400px) / (1200 - 400))),
    100svh
  );
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.search-results.show-fade {
  mask-position: 0 100%;
}

.search-link {
  display: block;
  position: relative;
  width: 100%;

  &:first-child {
    margin-block-start: 2px;
  }
}

.search-counter {
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0.75;
  padding: 5px;
  font-size: 0.825rem;
  text-align: center;
}

.search-header {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2px;
  z-index: 1000;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  outline: 1px solid var(--search-result-border);
  background-color: var(--search-result-background);
  padding: 8px 12px;
}

.search-header:hover {
  background-color: var(--search-result-hover);
}

.search-header:active {
  background-color: var(--search-result-active);
}

.search-title {
  position: relative;
  margin: 0 !important;
  color: var(--search-result-text);
  font-weight: 650;
  font-size: min(
    calc(1.05rem + (1.2 - 1.05) * ((100vw - 320px) / (768 - 320))),
    1.2rem
  ) !important;
  line-height: 1.3;
  font-family: Onest, sans-serif;
  text-transform: uppercase;
}

.search-content {
  outline: solid 1px var(--search-result-content-border);
  border-top: none;
  background-color: var(--search-result-content-background);
  overflow: hidden;
  font-size: 0.925rem;
}

.search-content .addition-info,
.search-content .addition-warning,
.search-content .addition-danger {
  font-size: 0.9rem;
}

.search-content.faq-content {
  margin-block-start: -16px;
  padding: 0;
  padding-block-start: 16px;
}

.search-content.faq-content p {
  margin-inline: 12px;
  margin-block: 8px;
}

.search-content.faq-content li > p {
  margin: 0;
}

.search-content.faq-content mark:hover,
.search-content.faq-content a:hover {
  opacity: 1;
}

.search-selected {
  transition:
    background-color,
    outline 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-selected .search-header {
  outline: 1px solid var(--search-result-selected-border);
  background-color: var(--search-result-hover);
}

.search-selected .search-content {
  background-color: var(--search-result-background);
}

.search-no-results {
  padding-block-start: 10px;
}

.search-external-links {
  display: flex;
  flex-flow: wrap;
  margin: 10px;
  outline: 1px solid var(--button-group-border);
  border-radius: $roundness;
  overflow: hidden;

  a,
  button {
    text-wrap: wrap;
    flex: 1 0 175px;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-sizing: border-box;
    outline: 1px solid var(--button-group-border);
    border-radius: 0;
    background-color: var(--button-group-background);
    padding-inline: 10px;
    padding-block: 8px;
    width: 100%;
    min-width: 150px;
    color: var(--button-group-text);
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1.25;
    font-family: Onest, serif;
    text-align: center;
    text-decoration: none;

    @media (width <= 545px) {
      flex: 1 0 125px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--button-group-hover);
    }

    &:active {
      background-color: var(--button-group-active);
    }

    &:active {
      background-color: var(--button-group-active);
    }
  }
}

.search-no-results-title {
  text-wrap: balance;
  padding-inline: 15px;
  font-size: 1.1rem;
  font-family: "Onest", sans-serif;
}

.search-no-results-message {
  text-wrap: balance;
  opacity: 0.5;
  padding-inline: 15px;
  width: 100%;
  font-size: 0.825rem;
}

.search-no-results-tip {
  text-wrap: balance;
  opacity: 0.35;
  margin-inline-start: auto;
  margin-block: 15px;
  padding-inline: 10px;
  font-size: 0.725rem !important;
  line-height: 1.25;
  text-align: right;
}

.search-category {
  display: flex;
  flex-flow: wrap;
  margin-block-end: -2px;
  border-bottom-right-radius: $roundness;
  border-bottom-left-radius: $roundness;
  overflow: hidden;

  a,
  button {
    text-wrap: wrap;
    flex: 1 0 175px;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-sizing: border-box;
    outline: 1px solid var(--button-group-border);
    border-radius: 0;
    background-color: var(--button-group-background);
    padding-inline: 10px;
    padding-block: 8px;
    width: 100%;
    min-width: 150px;
    color: var(--button-group-text);
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1.25;
    font-family: Onest, serif;
    text-align: center;
    text-decoration: none;

    @media (width <= 545px) {
      flex: 1 0 125px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--button-group-hover);
    }

    &:active {
      background-color: var(--button-group-active);
    }
  }
}

.search-category-tip {
  text-wrap: balance;
  opacity: 0.4;
  margin-block: 2px 15px;
  padding-inline: 15px;
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: center;
}
