@use "mixins" as *;

.support-title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.25;
  font-family: Onest, sans-serif;
}

.support-modal {
  padding: 5px;

  p {
    margin-block: 15px;
  }

  li {
    position: relative;
    padding-inline: 15px;
    padding-inline-start: 30px;
    padding-block: 10px;
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border-primary);
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      opacity: 0.5;
      border-radius: $roundness;
      background-color: var(--color-accent);
      width: 3px;
      height: 65%;
      content: "";
    }
  }
}