@use "mixins" as *;

table {
  margin: 10px;
  border-collapse: separate;
  border-spacing: 5px;

  width: calc(100% - 20px);
  overflow: hidden;
  font-size: 0.925rem;
}

@media (width <= 400px) {
  table {
    word-wrap: break-word;

    td,
    th {
      padding: 4px 2px;
      font-size: 0.75rem;

      .addition-info,
      .addition-warning,
      .addition-danger {
        font-size: 0.75rem;
      }
    }
  }
}

td,
th {
  vertical-align: middle;
  border-radius: $roundness * 0.5;
  padding: 6px 10px;
  text-align: center;

  .addition-info,
  .addition-warning,
  .addition-danger {
    margin-inline: auto;
    font-size: 0.875rem;
  }
  mark {
    outline: none;
    background: none;
    &::before {
      width: min(
        calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320))),
        12px
      ) !important;
      height: min(
        calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320))),
        12px
      ) !important;
    }
  }
}

td {
  border: 1px solid var(--table-background-border);
  background-color: var(--table-background);
}

thead {
  z-index: 10;
  color: var(--mark-text);
  font-family: Onest, Inter, sans-serif;
  th {
    text-wrap: balance;
    border: 1px solid var(--summary-border);
    border-radius: $roundness * 0.5;
    background-color: var(--summary-background);
    font-weight: 600;
  }
}
