@use "@/styles/mixins" as *;

table {
  filter: drop-shadow(0 5px 10px var(--shadow));
  box-sizing: border-box;
  margin: 10px;
  outline: 1px solid var(--table-background-border);
  border-collapse: collapse;
  background-color: var(--table-background);
  width: calc(100% - 20px);
  overflow: hidden;
  font-size: 0.875rem;
}

@media (max-width: 400px) {
  table {
    word-wrap: break-word;

    td,
    th {
      padding: 4px 2px;
      font-size: 0.75rem;

      .addition-info,
      .addition-warning,
      .addition-danger {
        font-size: 0.75rem;
      }
    }
  }
}

td,
th {
  vertical-align: middle;
  outline: 1px solid var(--table-background-border);
  padding: 5px 10px;
  text-align: center;

  .addition-info,
  .addition-warning,
  .addition-danger {
    margin-inline: auto;
    font-size: 0.875rem;
  }
}

thead {
  background-color: var(--mark-background);
  color: var(--mark-text);
  font-weight: 700;
}
