*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img,
svg,
video,
canvas,
audio {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  background: none;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

:-moz-focusring {
  outline: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

legend {
  display: block;
  padding: 0;
}

label {
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  padding: 0;
}

th {
  font-weight: bold;
}

input,
textarea,
select,
button {
  font: inherit;
}

address {
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

iframe {
  border: none;
}

template {
  display: none;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

:focus {
  outline: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.light {
  --text: hsl(0, 0%, 5%);
  --background: hsl(0, 0%, 95%);
  --content_block: hsl(0, 0%, 100%);
  --accent: hsl(246, 32%, 56%);
  --addition_info: hsl(200, 100%, 85%);
  --addition_info-border: hsl(200, 90%, 75%);
  --addition_info-text: hsl(200, 75%, 25%);
  --addition_info-mark: hsl(200, 70%, 75%);
  --addition_warning: hsl(50, 100%, 85%);
  --addition_warning-border: hsl(50, 90%, 65%);
  --addition_warning-text: hsl(50, 75%, 20%);
  --addition_warning-mark: hsl(50, 70%, 75%);
  --addition_danger: hsl(0, 100%, 85%);
  --addition_danger-border: hsl(0, 90%, 75%);
  --addition_danger-text: hsl(0, 75%, 25%);
  --addition_danger-mark: hsl(0, 70%, 75%);
  --search_background: hsl(0, 0%, 85%);
  --search_border: hsl(0, 0%, 75%);
  --header_background: hsla(0, 0%, 100%, 0.5);
  --header_shadow: hsla(0, 0%, 0%, 0.25);
  --shadow: hsla(0, 0%, 0%, 0.05);
  --accent_hover: hsl(246, 30%, 85%);
  --secondary_hover: hsl(0, 0%, 85%);
  --accent_border: hsl(246, 30%, 80%);
  --secondary_border: hsl(0, 0%, 80%);
  --summary_background: hsl(246, 41%, 97%);
  --summary_border: hsl(246, 35%, 92%);
  --summary_text: hsl(246, 32%, 50%);
  --li_background: hsl(241, 50%, 95%);
  --li_border: hsl(241, 50%, 85%);
  --mark_background: hsl(246, 75%, 97%);
  --mark_text: hsl(241, 50%, 25%);
  --mark_border: hsl(246, 90%, 85%);
  --a_color: hsl(246, 45%, 60%);
}

.dark {
  --text: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 0%);
  --content_block: hsl(0, 0%, 7.5%);
  --accent: hsl(241, 100%, 80%);
  --addition_info: hsl(200, 70%, 15%);
  --addition_info-border: hsl(200, 60%, 25%);
  --addition_info-text: hsl(200, 75%, 85%);
  --addition_info-mark: hsl(200, 90%, 20%);
  --addition_warning: hsl(50, 70%, 25%);
  --addition_warning-border: hsl(50, 90%, 35%);
  --addition_warning-text: hsl(50, 75%, 85%);
  --addition_warning-mark: hsl(50, 90%, 30%);
  --addition_danger: hsl(0, 50%, 25%);
  --addition_danger-border: hsl(0, 70%, 35%);
  --addition_danger-text: hsl(0, 100%, 85%);
  --addition_danger-mark: hsl(0, 50%, 30%);
  --search_background: hsl(0, 0%, 85%);
  --search_border: hsl(0, 0%, 75%);
  --header_background: hsla(0, 0%, 7.5%, 0.75);
  --header_shadow: hsla(0, 0%, 0%, 0.25);
  --shadow: hsla(0, 0%, 0%, 0.05);
  --accent_hover: hsl(241, 30%, 25%);
  --secondary_hover: hsl(0, 0%, 25%);
  --accent_border: hsl(241, 30%, 20%);
  --secondary_border: hsl(0, 0%, 20%);
  --summary_background: hsl(241, 50%, 10%);
  --summary_border: hsl(241, 35%, 25%);
  --summary_text: hsl(241, 90%, 80%);
  --li_background: hsl(241, 25%, 12.5%);
  --li_border: hsl(241, 35%, 25%);
  --mark_background: hsl(241, 25%, 27%);
  --mark_border: hsl(241, 90%, 85%);
  --mark_text: hsl(241, 72%, 90%);
  --a_color: hsl(241, 75%, 75%);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Montserrat-Black.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Schuss Sans";
  src: url("fonts/SchussSansPCG-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Schuss Sans";
  src: url("fonts/SchussSansPCG-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Schuss Sans";
  src: url("fonts/SchussSansPCG-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("fonts/JetBrainsMono.woff2") format("woff2");
}
html {
  scroll-padding-top: 80px;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Inter";
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);
  -webkit-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  margin-top: 64px;
  margin-inline: auto;
}

.content {
  display: block;
}

.links {
  margin-top: 64px;
  margin-inline: auto;
  max-width: 1400px;
}
.links-button {
  display: flex-inline;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--content_block);
  border-radius: 10px;
  padding-inline: 15px;
  padding-block: 10px;
  gap: 15px;
  height: 100%;
  -webkit-box-shadow: 0 5px 5px 0 var(--shadow);
          box-shadow: 0 5px 5px 0 var(--shadow);
  border: 1px solid var(--accent_border);
}
.links-button:hover {
  cursor: pointer;
  z-index: 15;
  background-color: var(--accent_hover);
  -webkit-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links-button .name_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}
.links-button .name_container .icon {
  vertical-align: middle;
  -webkit-margin-end: 8px;
     -moz-margin-end: 8px;
          margin-inline-end: 8px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 24px;
  height: 36px;
  color: var(--accent);
}
.links-button .name_container .icon path {
  margin: auto;
}
.links-button .name_container .name {
  font-family: "Schuss Sans";
  font-size: 20px;
  color: var(--accent);
  font-weight: 700;
}
.links-button .description {
  font-size: 14px;
  opacity: 80%;
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
}
.links-grid {
  margin-inline: auto;
  display: grid;
  gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1200px) {
  .links-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .links-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .links-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .links-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.disabled-title {
  display: none;
}

.faq-separator {
  text-align: center;
  font-size: 12px;
  -webkit-margin-end: 10px;
     -moz-margin-end: 10px;
          margin-inline-end: 10px;
  margin-block: 15px;
  text-transform: uppercase;
}
.faq-content {
  border-radius: 10px;
  background-color: var(--content_block);
  line-height: 1.75;
}
@media screen and (max-width: 375px) {
  .faq-content {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
.faq-content summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  position: relative;
  cursor: pointer;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  text-transform: uppercase;
  color: var(--summary_text);
  background-color: var(--summary_background);
  border: 2px solid var(--summary_border);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.faq-content summary:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: var(--primary);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
}
.faq-content summary:not(:first-child) {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
.faq-content .flexible-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
  max-width: 800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq-content .flexible-links a {
  background-color: var(--li_background);
  border: 2px solid var(--li_border);
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 10px;
  margin-block: 0;
}
.faq-content a {
  color: var(--a_color);
  font-weight: 700;
}
.faq-content p {
  margin-inline: 20px;
  margin-block: 15px;
}
.faq-content li {
  background-color: var(--li_background);
  border: 2px solid var(--li_border);
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 10px;
  border-radius: 10px;
}
.faq-content mark {
  background-color: var(--mark_background);
  padding: 3px 2px;
  margin: 2px 1px;
  border-radius: 5px;
  border: 1px solid var(--mark_border);
  color: var(--mark_text);
}
.faq-block {
  max-width: 1000px;
}
.faq-block summary {
  padding: 100;
}

.addition-info, .addition-warning, .addition-danger {
  padding: 10px 20px;
  border-radius: 10px;
  margin-block: 10px;
}
.addition-info a, .addition-warning a, .addition-danger a {
  font-weight: 700;
  text-decoration: underline;
}
.addition-info mark, .addition-warning mark, .addition-danger mark {
  font-style: italic;
}
.addition-info {
  background-color: var(--addition_info);
  border: 2px solid var(--addition_info-border);
  color: var(--addition_info-text);
}
.addition-info a {
  color: var(--addition_info-text);
}
.addition-info mark {
  background-color: var(--addition_info-mark);
  border: 2px solid var(--addition_info-border);
  color: var(--addition_info-text);
}
.addition-warning {
  background-color: var(--addition_warning);
  border: 2px solid var(--addition_warning-border);
  color: var(--addition_warning-text);
}
.addition-warning a {
  color: var(--addition_warning-text);
}
.addition-warning mark {
  background-color: var(--addition_warning-mark);
  border: 2px solid var(--addition_warning-border);
  color: var(--addition_warning-text);
}
.addition-danger {
  background-color: var(--addition_danger);
  border: 2px solid var(--addition_danger-border);
  color: var(--addition_danger-text);
}
.addition-danger a {
  color: var(--addition_danger-text);
}
.addition-danger mark {
  background-color: var(--addition_danger-mark);
  border: 2px solid var(--addition_danger-border);
  color: var(--addition_danger-text);
}

.searchbar {
  background-color: var(--background);
  border: 1px solid var(--search_border);
  padding: 5px;
  border-radius: 5px;
}

.header {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 10;
  background-color: var(--header_background);
  -webkit-box-shadow: 0 0 15px 0 var(--header_shadow);
          box-shadow: 0 0 15px 0 var(--header_shadow);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  max-width: 1400px;
  height: 64px;
}
.header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header-left .home {
  margin-top: 4px;
  fill: var(--accent);
  height: 24px;
  width: 24px;
}
.header-left a {
  margin-right: 10px;
}

.logo {
  font-family: "Schuss Sans";
  font-size: 36px;
  font-weight: 900;
  color: var(--accent);
}

.theme {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.theme-button {
  padding: 5px;
}
.theme-icon {
  fill: var(--text);
  height: 24px;
  width: 24px;
}
.theme .selected {
  background-color: var(--accent_hover);
}

.notFound,
.disabled_javascript {
  top: 40%;
  position: fixed;
  -webkit-margin-start: 25px;
     -moz-margin-start: 25px;
          margin-inline-start: 25px;
  max-width: 400px;
  background-color: var(--content_block);
  padding: 10px;
  border-radius: 20px;
}
.notFound h1,
.disabled_javascript h1 {
  padding: 5px;
  font-size: 48px;
}
.notFound p,
.disabled_javascript p {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  font-size: 18px;
  padding: 5px;
}
.notFound a,
.disabled_javascript a {
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  border-radius: 10px;
  background-color: var(--accent_button);
  margin: 5px;
  padding: 15px;
}
.notFound a:hover,
.disabled_javascript a:hover {
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
}
.notFound a:active,
.disabled_javascript a:active {
  -webkit-transform: scale(0.975);
     -moz-transform: scale(0.975);
      -ms-transform: scale(0.975);
          transform: scale(0.975);
}

.footer {
  padding-block: 50px;
  text-align: center;
  font-size: 12px;
  opacity: 50%;
  color: var(--text);
}

.copied {
  -webkit-filter: drop-shadow(0 20px 20px var(--shadow));
          filter: drop-shadow(0 20px 20px var(--shadow));
  color: var(--text);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(25px) brightness(125%) saturate(50%);
          backdrop-filter: blur(25px) brightness(125%) saturate(50%);
  background-color: var(--header_background);
  max-width: 500px;
  border-radius: 15px;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
  z-index: 1000;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}