@use "../../styles/abstracts/mixins" as *;

.addition {
  &-info,
  &-warning,
  &-danger,
  &-tldr {
    @include fluid-inset(
      padding-block,
      $space-8,
      $space-12,
      padding-inline,
      $space-16,
      $space-20
    );
    @include fluid-size(margin-block, $space-12, $space-16);

    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    gap: $space-16;
    align-items: center;
    margin-inline: 0;
    line-height: 1.6;
    font-size: $font-size-text-md;
    font-weight: 425;

    > div {
      flex-grow: 1;
    }

    p {
      margin-inline: 0;
      line-height: 1.6;

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }

      &:not(:first-child) {
        @include fluid-size(margin-block-start, $space-4, $space-8);
      }

      &:not(:last-child) {
        @include fluid-size(margin-block-end, $space-4, $space-8);
      }
    }

    a {
      text-decoration: underline;
      font-weight: 700;
    }

    mark {
      padding: 2px 3px;

      &::before {
        @include fluid-icon-size(11px, 13px);
      }
    }

    ul {
      margin-block: 0;
      margin-inline: -$space-8 0;

      &:not(:first-child) {
        @include fluid-size(margin-block-start, $space-4, $space-8);
      }

      &:not(:last-child) {
        @include fluid-size(margin-block-end, $space-4, $space-8);
      }
    }

    li {
      @include fluid-size(margin-block, $space-2, $space-4);
      @include fluid-size(margin-inline-start, $space-12, $space-16);
      @include fluid-inset(
        padding-block,
        $space-2,
        $space-4,
        padding-inline,
        $space-8,
        $space-12
      );

      position: relative;
      line-height: 1.6;
      font-size: inherit !important;

      &::before {
        @include fluid-size(top, $space-4, $space-8);
        @include fluid-size(bottom, $space-4, $space-8);
        @include fluid-size(left, -$space-4, -$space-8);

        display: inline-block;
        position: absolute;
        opacity: 0.5;
        border-radius: $roundness;
        width: 1px;
        content: "";
      }

      &:not(:last-child) {
        border-bottom: $stroke-1 solid;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      & > ul {
        @include fluid-size(margin-block, $space-4, $space-8);

        & > li {
          @include fluid-size(margin-inline-start, $space-12, $space-16);
          @include fluid-size(padding-inline-start, $space-0, $space-4);

          padding-inline-end: 0;

          &::before {
            @include fluid-size(left, -$space-8, -$space-12);
          }

          > ul > li {
            @include fluid-size(margin-inline-start, $space-16, $space-20);
            @include fluid-size(padding-inline-start, $space-0, $space-4);

            padding-inline-end: 0;

            &::before {
              @include fluid-size(left, -$space-8, -$space-12);
            }
          }
        }
      }
    }
  }

  &-info {
    outline: $stroke-1 solid var(--color-status-info-border);
    background-color: var(--color-status-info-background);
    color: var(--color-status-info-text);

    a {
      color: var(--color-status-info-text);

      &::before {
        background-color: var(--color-status-info-text);
      }

      &:visited {
        color: var(--color-status-info-visited-text);

        &::before {
          background-color: var(--color-status-info-visited-text);
        }
      }
    }

    li {
      &::before {
        background-color: var(--color-status-info-text);
      }

      &:not(:last-child) {
        border-bottom-color: var(--color-status-info-border);
      }
    }

    mark {
      transition: background-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: $stroke-1 solid var(--color-status-info-border);
      background-color: var(--color-status-info-mark-background);
      color: var(--color-status-info-text);

      &::before {
        background-color: var(--color-status-info-text) !important;
      }

      &:where(.copy, [style*="cursor: pointer"]):hover {
        outline-color: var(--color-status-info-border);
        background-color: var(--color-status-info-mark-background-hover);
      }

      &:where(.copy, [style*="cursor: pointer"]):active {
        outline-color: var(--color-status-info-border);
        background-color: var(--color-status-info-mark-background-active);
      }
    }
  }

  &-warning {
    outline: $stroke-1 solid var(--color-status-warning-border);
    background-color: var(--color-status-warning-background);
    color: var(--color-status-warning-text);

    a {
      color: var(--color-status-warning-text);

      &::before {
        background-color: var(--color-status-warning-text);
      }

      &:visited {
        color: var(--color-status-warning-visited-text);

        &::before {
          background-color: var(--color-status-warning-visited-text);
        }
      }
    }

    li {
      &::before {
        background-color: var(--color-status-warning-text);
      }

      &:not(:last-child) {
        border-bottom-color: var(--color-status-warning-border);
      }
    }

    mark {
      transition: background-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: $stroke-1 solid var(--color-status-warning-border);
      background-color: var(--color-status-warning-mark-background);
      color: var(--color-status-warning-text);

      &::before {
        background-color: var(--color-status-warning-text) !important;
      }

      &:where(.copy, [style*="cursor: pointer"]):hover {
        outline-color: var(--color-status-warning-border);
        background-color: var(--color-status-warning-mark-background-hover);
      }

      &:where(.copy, [style*="cursor: pointer"]):active {
        outline-color: var(--color-status-warning-border);
        background-color: var(--color-status-warning-mark-background-active);
      }
    }
  }

  &-danger {
    outline: $stroke-1 solid var(--color-status-danger-border);
    background-color: var(--color-status-danger-background);
    color: var(--color-status-danger-text);

    a {
      color: var(--color-status-danger-text);

      &::before {
        background-color: var(--color-status-danger-text);
      }

      &:visited {
        color: var(--color-status-danger-visited-text);

        &::before {
          background-color: var(--color-status-danger-visited-text);
        }
      }
    }

    li {
      &::before {
        background-color: var(--color-status-danger-text);
      }

      &:not(:last-child) {
        border-bottom: $stroke-1 solid var(--color-status-danger-border);
      }
    }

    mark {
      transition: background-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: $stroke-1 solid var(--color-status-danger-border);
      background-color: var(--color-status-danger-mark-background);
      color: var(--color-status-danger-text);

      &::before {
        background-color: var(--color-status-danger-text) !important;
      }

      &:where(.copy, [style*="cursor: pointer"]):hover {
        outline-color: var(--color-status-danger-border);
        background-color: var(--color-status-danger-mark-background-hover);
      }

      &:where(.copy, [style*="cursor: pointer"]):active {
        outline-color: var(--color-status-danger-border);
        background-color: var(--color-status-danger-mark-background-active);
      }
    }
  }

  &-tldr {
    outline: $stroke-1 solid var(--color-status-tldr-border);
    background-color: var(--color-status-tldr-background);
    color: var(--color-status-tldr-text);

    a {
      color: var(--color-status-tldr-text);

      &::before {
        background-color: var(--color-status-tldr-text);
      }

      &:visited {
        color: var(--color-status-tldr-visited-text);

        &::before {
          background-color: var(--color-status-tldr-visited-text);
        }
      }
    }

    li {
      &::before {
        background-color: var(--color-status-tldr-text);
      }

      &:not(:last-child) {
        border-bottom-color: var(--color-status-tldr-border);
      }
    }

    mark {
      transition: background-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: $stroke-1 solid var(--color-status-tldr-border);
      background-color: var(--color-status-tldr-mark-background);
      color: var(--color-status-tldr-text);

      &::before {
        background-color: var(--color-status-tldr-text) !important;
      }

      &:where(.copy, [style*="cursor: pointer"]):hover {
        outline-color: var(--color-status-tldr-border);
        background-color: var(--color-status-tldr-mark-background-hover);
      }

      &:where(.copy, [style*="cursor: pointer"]):active {
        outline-color: var(--color-status-tldr-border);
        background-color: var(--color-status-tldr-mark-background-active);
      }
    }
  }
}

:is(.addition-info, .addition-warning, .addition-danger, .addition-tldr) {
  > div {
    > .addition-info,
    > .addition-warning,
    > .addition-danger,
    > .addition-tldr {
      @include fluid-size(margin-block, $space-4, $space-8);

      border-radius: $roundness * 0.5;

      &:first-child {
        @include fluid-size(margin-block-start, $space-4, $space-8);
      }

      &:last-child {
        @include fluid-size(margin-block-end, $space-4, $space-8);
      }

      &:not(:first-child) {
        @include fluid-size(margin-block-start, $space-4, $space-8);
      }

      &:not(:last-child) {
        @include fluid-size(margin-block-end, $space-4, $space-8);
      }
    }
  }

  .addition-info,
  .addition-warning,
  .addition-danger,
  .addition-tldr {
    @include fluid-inset(
      padding-block,
      $space-4,
      $space-8,
      padding-inline,
      $space-8,
      $space-16
    );
  }

  .addition-info {
    background-color: var(--color-status-info-secondary-background);
  }

  .addition-warning {
    background-color: var(--color-status-warning-secondary-background);
  }

  .addition-danger {
    background-color: var(--color-status-danger-secondary-background);
  }

  .addition-tldr {
    background-color: var(--color-status-tldr-secondary-background);
  }

  :is(.addition-info, .addition-warning, .addition-danger, .addition-tldr) {
    .addition-info {
      background-color: var(--color-status-info-tertiary-background);
    }

    .addition-warning {
      background-color: var(--color-status-warning-tertiary-background);
    }

    .addition-danger {
      background-color: var(--color-status-danger-tertiary-background);
    }

    .addition-tldr {
      background-color: var(--color-status-tldr-tertiary-background);
    }

    .addition-info :global(.flexible-links) {
      background-color: var(--color-status-info-tertiary-background);

      button,
      a {
        background-color: var(--color-status-info-tertiary-background);

        &:hover {
          background-color: var(--color-status-info-tertiary-hover-background);
        }

        &:active {
          background-color: var(--color-status-info-tertiary-active-background);
        }
      }
    }

    .addition-warning :global(.flexible-links) {
      background-color: var(--color-status-warning-tertiary-background);

      button,
      a {
        background-color: var(--color-status-warning-tertiary-background);

        &:hover {
          background-color: var(--color-status-warning-tertiary-hover-background);
        }

        &:active {
          background-color: var(--color-status-warning-tertiary-active-background);
        }
      }
    }

    .addition-danger :global(.flexible-links) {
      background-color: var(--color-status-danger-tertiary-background);

      button,
      a {
        background-color: var(--color-status-danger-tertiary-background);

        &:hover {
          background-color: var(--color-status-danger-tertiary-hover-background);
        }

        &:active {
          background-color: var(--color-status-danger-tertiary-active-background);
        }
      }
    }

    .addition-tldr :global(.flexible-links) {
      background-color: var(--color-status-tldr-tertiary-background);

      button,
      a {
        background-color: var(--color-status-tldr-tertiary-background);

        &:hover {
          background-color: var(--color-status-tldr-tertiary-hover-background);
        }

        &:active {
          background-color: var(--color-status-tldr-tertiary-active-background);
        }
      }
    }

    :is(.addition-info, .addition-warning, .addition-danger, .addition-tldr) {
      .addition-info {
        background-color: var(--color-status-info-background-level-3);
      }

      .addition-warning {
        background-color: var(--color-status-warning-background-level-3);
      }

      .addition-danger {
        background-color: var(--color-status-danger-background-level-3);
      }

      .addition-tldr {
        background-color: var(--color-status-tldr-background-level-3);
      }
    }
  }
}

.article-container,
:global(.article-content),
li,
:global(.links),
.details-nested-section {
  & > .addition-info,
  & > .addition-warning,
  & > .addition-danger,
  & > .addition-tldr {
    @include fluid-size(padding-inline, $space-12, $space-16);

    margin-right: 0;
    margin-left: 0;
    margin-inline: 0;
    border-radius: $roundness;
    font-size: $font-size-text-md;
  }
}

:global(.rules-section) {
  & > .addition-info,
  & > .addition-warning,
  & > .addition-danger,
  & > .addition-tldr {
    @include fluid-size(margin-block, $space-12, $space-16);

    margin-inline: 0;
    border-radius: 0;
  }
}

table {
  .addition-info,
  .addition-warning,
  .addition-danger,
  .addition-tldr {
    font-size: inherit;

    p,
    ul,
    li,
    a,
    mark {
      font-size: inherit;
    }
  }
}

%article-content-first-child {
  @include fluid-size(margin-top, $space-8, $space-12);
}

%article-content-last-child {
  @include fluid-size(margin-bottom, $space-8, $space-12);
}

.article-content,
.details-nested-section {
  & > .addition-info:first-child,
  & > .addition-warning:first-child,
  & > .addition-danger:first-child,
  & > .addition-tldr:first-child {
    @extend %article-content-first-child;
  }

  & > .addition-info:last-child,
  & > .addition-warning:last-child,
  & > .addition-danger:last-child,
  & > .addition-tldr:last-child {
    @extend %article-content-last-child;
  }
}

li:not(:has(> :global(.details-nested))) {
  > .addition-info,
  > .addition-warning,
  > .addition-danger,
  > .addition-tldr {
    @include fluid-size(margin-block, $space-12, $space-16);

    margin-inline: 0;
    border-radius: $roundness * 0.75;
  }

  > .addition-info:first-child,
  > .addition-warning:first-child,
  > .addition-danger:first-child,
  > .addition-tldr:first-child {
    margin-block-start: $space-8;
  }

  > .addition-info:last-child,
  > .addition-warning:last-child,
  > .addition-danger:last-child,
  > .addition-tldr:last-child {
    margin-block-end: $space-8;
  }
}

li:not(:has(> :global(.details-nested))):has(
    > .addition-info:last-child,
    > .addition-warning:last-child,
    > .addition-danger:last-child,
    > .addition-tldr:last-child
  ) {
  display: flow-root;
}

li:has(> :global(.details-nested)) {
  > .addition-info,
  > .addition-warning,
  > .addition-danger,
  > .addition-tldr {
    @include fluid-size(margin-block, $space-12, $space-16);

    margin-inline: 0;
    border-radius: $roundness;
  }

  > .addition-info:first-child,
  > .addition-warning:first-child,
  > .addition-danger:first-child,
  > .addition-tldr:first-child {
    margin-block-start: $space-4;
  }

  > .addition-info:last-child,
  > .addition-warning:last-child,
  > .addition-danger:last-child,
  > .addition-tldr:last-child {
    margin-block-end: $space-4;
  }
}

li:has(> :global(.details-nested)):has(
    > .addition-info:last-child,
    > .addition-warning:last-child,
    > .addition-danger:last-child,
    > .addition-tldr:last-child
  ) {
  display: flow-root;
}

.addition-info :global(.flexible-links),
.addition-warning :global(.flexible-links),
.addition-danger :global(.flexible-links),
.addition-tldr :global(.flexible-links) {
  margin: 0;
  outline-width: $stroke-1;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  &:not(:first-child) {
    @include fluid-size(margin-block-start, $space-12, $space-16);
  }

  &:not(:last-child) {
    @include fluid-size(margin-block-end, $space-12, $space-16);
  }

  a {
    text-decoration: none;
  }
}

.addition-info :global(.flexible-links) {
  outline-color: var(--color-status-info-border);
  background-color: var(--color-status-info-secondary-background);

  button,
  a {
    outline-color: var(--color-status-info-border);
    background-color: var(--color-status-info-secondary-background);
    color: var(--color-status-info-text);

    &:hover {
      background-color: var(--color-status-info-secondary-hover-background);
    }

    &:active {
      background-color: var(--color-status-info-secondary-active-background);
    }
  }

  a:visited {
    color: var(--color-status-info-visited-text);
  }
}

.addition-warning :global(.flexible-links) {
  outline-color: var(--color-status-warning-border);
  background-color: var(--color-status-warning-secondary-background);

  button,
  a {
    outline-color: var(--color-status-warning-border);
    background-color: var(--color-status-warning-secondary-background);
    color: var(--color-status-warning-text);

    &:hover {
      background-color: var(--color-status-warning-secondary-hover-background);
    }

    &:active {
      background-color: var(--color-status-warning-secondary-active-background);
    }
  }

  a:visited {
    color: var(--color-status-warning-visited-text);
  }
}

.addition-danger :global(.flexible-links) {
  outline-color: var(--color-status-danger-border);
  background-color: var(--color-status-danger-secondary-background);

  button,
  a {
    outline-color: var(--color-status-danger-border);
    background-color: var(--color-status-danger-secondary-background);
    color: var(--color-status-danger-text);

    &:hover {
      background-color: var(--color-status-danger-secondary-hover-background);
    }

    &:active {
      background-color: var(--color-status-danger-secondary-active-background);
    }
  }

  a:visited {
    color: var(--color-status-danger-visited-text);
  }
}

.addition-tldr :global(.flexible-links) {
  outline-color: var(--color-status-tldr-border);
  background-color: var(--color-status-tldr-secondary-background);

  button,
  a {
    outline-color: var(--color-status-tldr-border);
    background-color: var(--color-status-tldr-secondary-background);
    color: var(--color-status-tldr-text);

    &:hover {
      background-color: var(--color-status-tldr-secondary-hover-background);
    }

    &:active {
      background-color: var(--color-status-tldr-secondary-active-background);
    }
  }

  a:visited {
    color: var(--color-status-tldr-visited-text);
  }
}

.addition-info.addition-info a:visited {
  color: var(--color-status-info-visited-text);
}

.addition-warning.addition-warning a:visited {
  color: var(--color-status-warning-visited-text);
}

.addition-danger.addition-danger a:visited {
  color: var(--color-status-danger-visited-text);
}

.addition-tldr.addition-tldr a:visited {
  color: var(--color-status-tldr-visited-text);
}

:global(details[data-nested-details-summary="true"]) .addition-info li::before {
  background-color: var(--color-status-info-text);
}

:global(details[data-nested-details-summary="true"]) .addition-info li:not(:last-child) {
  border-bottom-color: var(--color-status-info-border);
}

:global(details[data-nested-details-summary="true"]) .addition-warning li::before {
  background-color: var(--color-status-warning-text);
}

:global(details[data-nested-details-summary="true"])
  .addition-warning
  li:not(:last-child) {
  border-bottom-color: var(--color-status-warning-border);
}

:global(details[data-nested-details-summary="true"]) .addition-danger li::before {
  background-color: var(--color-status-danger-text);
}

:global(details[data-nested-details-summary="true"])
  .addition-danger
  li:not(:last-child) {
  border-bottom-color: var(--color-status-danger-border);
}

:global(details[data-nested-details-summary="true"]) .addition-tldr li::before {
  background-color: var(--color-status-tldr-text);
}

:global(details[data-nested-details-summary="true"]) .addition-tldr li:not(:last-child) {
  border-bottom-color: var(--color-status-tldr-border);
}
