@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.media {
  margin: 20px;
  text-align: center;

  &-figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 100%;

    &--youtube {
      width: 100%;
    }
  }

  &-content {
    display: block;
    outline: 1px solid var(--color-border-content);
    border-radius: $roundness;
    max-width: 100%;
    height: auto;
    object-fit: contain;

    &--image {
      max-height: 60vh;
    }

    &--video {
      width: fit-content;
      max-height: 55dvh;
    }
  }

  &-iframe {
    outline: 1px solid var(--color-border-content);
    border: none;
    border-radius: $roundness;
    width: 100%;
    height: auto;
    max-height: 55dvh;
    aspect-ratio: 16 / 9;
  }

  &-placeholder {
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    width: 100%;
  }

  &-caption {
    padding: 5px;
    text-align: center;
    color: var(--color-text-tertiary);
    font-size: 0.9rem;
    font-style: italic;
  }

  &-fullscreen-portal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: var(--color-background-overlay);
    width: 100vw;
    height: 100vh;

    &--closing {
      transition: opacity 0.25s ease-out;
      opacity: 0;
    }
  }

  &-fullscreen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 90vw;
    max-height: 90vh;

    & .media-content,
    & .media-iframe {
      width: auto;
      max-width: 100%;
      max-height: 90vh;
    }

    & video,
    & iframe,
    & img {
      width: 100%;
      max-width: 100%;
      max-height: 90vh;
    }
  }
}
