@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.media {
  @include fluid-size(margin, $space-16, $space-20);

  text-align: center;

  &-figure {
    @include fluid-size(gap, $space-8, $space-16);

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    &--youtube {
      width: 100%;
    }
  }

  &-youtube-actions {
    @include fluid-size(gap, $space-8, $space-16);

    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      @include fluid-size(padding, $space-4, $space-8);

      transition:
        background-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1),
        outline-color $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 0.75;
      outline: $stroke-1 solid var(--color-figure-youtube-border);
      border-radius: $roundness * 0.75;
      background-color: var(--color-figure-youtube-button);
      text-align: center;
      line-height: 1.25;
      color: var(--color-figure-youtube-button-text);
      font-size: $font-size-text-xs;
      font-weight: 600;

      &:hover {
        outline-color: var(--color-button-group-border-hover);
        background-color: var(--color-figure-youtube-button-hover);
      }

      &:active {
        outline-color: var(--color-button-group-border-active);
        background-color: var(--color-figure-youtube-button-active);
      }

      svg {
        @include fluid-icon-size($space-16, $space-20);
      }
    }
  }

  &-content {
    display: block;
    border-radius: $roundness;
    background-color: var(--color-background-tertiary);
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: $shadow-filter-content-soft;

    &--image {
      outline: $stroke-1 solid var(--color-border-content);
      max-height: 60vh;
    }

    &--video {
      outline: $stroke-1 solid var(--color-border-content);
      max-height: 55dvh;
    }
  }

  &-iframe {
    filter: $shadow-filter-content-soft;
    outline: $stroke-1 solid var(--color-border-content);
    border: none;
    border-radius: $roundness;
    width: 100%;
    height: auto;
    max-height: 55dvh;
    aspect-ratio: 16 / 9;
  }

  &-placeholder {
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
    width: 100%;
  }

  &-caption {
    @include fluid-size(padding, $space-4, $space-8);

    text-align: center;
    color: var(--color-text-tertiary);
    font-size: $font-size-text-sm;
    font-style: italic;
  }

  &-viewer {
    &-overlay {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      z-index: $z-modal;
      background-color: var(--color-background-overlay);
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(25px);
      touch-action: none;
    }

    &-image-wrapper {
      @include fluid-size(padding, $space-8, $space-16);

      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media (width >= 769px) {
        padding-top: $space-48;
      }
    }

    &-image {
      border-radius: $roundness;
      cursor: grab;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      user-select: none;
      filter: $shadow-filter-content-strong;

      &:active {
        cursor: grabbing;
      }
    }

    &-close {
      display: flex;
      position: absolute;
      top: $space-64;
      right: $space-20;
      align-items: center;
      justify-content: center;
      transition:
        background-color $duration-250,
        border-color $duration-250,
        transform $duration-250;
      z-index: $z-top;
      border: $stroke-1 solid var(--color-button-group-border);
      border-radius: $roundness;
      background: var(--color-button-group-background);
      cursor: pointer;
      width: 40px;
      height: 40px;
      color: var(--color-button-group-text);

      &:hover {
        border-color: var(--color-button-group-border-hover);
        background: var(--color-button-group-background-hover);
      }

      &:active {
        border-color: var(--color-button-group-border-active);
        background: var(--color-button-group-background-active);
      }

      svg {
        width: 24px;
        height: 24px;
        fill: var(--color-button-group-text);
      }

      @media (width <= 768px) {
        top: $space-20;
      }
    }
  }
}
