@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

$code-background: hsl(225deg 10% 15%);
$code-border: hsl(225deg 15% 22%);
$code-text: hsl(225deg 15% 95%);

%code-styles {
  display: block;
  transition: opacity $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: $space-8;
  border: $stroke-1 solid $code-border;
  border-radius: $roundness * 0.75;
  background-color: $code-background;
  padding: $space-8;
  line-height: 1.5;
  color: $code-text;
  font-family: "JetBrains Mono", monospace;
  font-size: $font-size-body-sm;
  font-weight: 400;
  scrollbar-color: $code-border $code-background;
  scrollbar-width: thin;
  font-variant-ligatures: none;
  user-select: text;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $roundness;
    background-color: $code-border;
  }

  &::-webkit-scrollbar-track {
    margin: $space-4;
    background: $code-background;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.code {
  @extend %code-styles;
}

.hosts-adobe-code {
  @extend %code-styles;

  border-radius: $roundness;
  max-height: 250px;
  overflow: auto;
  text-align: center;
  line-height: 1.4;
  color: $code-text;
}

pre {
  &[role="button"] {
    code {
      user-select: none;
    }
  }
}
