@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

%code-styles {
  display: block;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 10px;
  border: 1px solid var(--color-code-border);
  border-radius: $roundness * 0.75;
  background-color: var(--color-code-background);
  padding: 10px;
  line-height: 1.5;
  color: var(--color-code-text);
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  font-weight: 400;
  scrollbar-color: var(--color-code-border) var(--color-code-background);
  scrollbar-width: thin;
  font-variant-ligatures: none;
  user-select: text;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $roundness;
    background-color: var(--color-code-border);
  }

  &::-webkit-scrollbar-track {
    margin: 5px;
    background: var(--color-code-background);
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.code {
  @extend %code-styles;
}

.hosts-adobe-code {
  @extend %code-styles;

  border-radius: $roundness;
  max-height: 250px;
  overflow: auto;
  text-align: center;
  line-height: 1.4;
  color: var(--color-surface-code-text);
}

pre {
  &[role="button"] {
    code {
      user-select: none;
    }
  }
}
