@use "../../styles/abstracts/mixins" as *;

.details-summary-root {
  --spoiler-depth: 0;
  --spoiler-order: 1;
  --spoiler-open-z-index: calc(
    1000 - (var(--spoiler-depth) * 100) + var(--spoiler-order)
  );
  --spoiler-hover-z-index: calc(
    900 - (var(--spoiler-depth) * 100) + var(--spoiler-order)
  );

  position: relative;
  transition: z-index 0s linear 0.25s;
  z-index: 0;
  user-select: none;

  &:hover,
  &:active {
    transition-delay: 0s;
    z-index: var(--spoiler-hover-z-index);
  }

  summary {
    position: relative;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .details-content-wrapper {
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    margin-block-start: -15px;
    max-height: 0;
    overflow: hidden;

    .details-content-inner {
      overflow: hidden;
    }
  }

  &.is-open {
    z-index: var(--spoiler-open-z-index);

    summary .details-summary-icon {
      transform: rotate(45deg);
    }
  }

  &[open] {
    z-index: var(--spoiler-open-z-index);

    .details-section {
      p,
      li,
      .addition-info,
      .addition-warning,
      .addition-danger {
        user-select: text;
      }
    }
  }
}

:global(details[data-nested-details-summary="true"]) {
  --spoiler-depth: 1;
  --spoiler-order: 1;
  --spoiler-open-z-index: calc(
    1000 - (var(--spoiler-depth) * 100) + var(--spoiler-order)
  );
  --spoiler-hover-z-index: calc(
    900 - (var(--spoiler-depth) * 100) + var(--spoiler-order)
  );

  position: relative;
  transition: z-index 0s linear 0.25s;
  z-index: 0;

  &:hover,
  &:active {
    transition-delay: 0s;
    z-index: var(--spoiler-hover-z-index);
  }

  &[open] {
    z-index: var(--spoiler-open-z-index);
  }
}

:global(.article-content) {
  .details-summary-root:not([open]) {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .details-summary-root {
    &:last-of-type .details-summary {
      border-bottom-left-radius: $roundness;
      border-bottom-right-radius: $roundness;
      border-bottom-color: var(--color-surface-primary-border);
    }

    &:first-of-type .details-summary {
      border-top-left-radius: $roundness;
      border-top-right-radius: $roundness;
    }

    &:has(+ .details-summary-root[open]) .details-summary {
      border-bottom-left-radius: $roundness;
      border-bottom-right-radius: $roundness;
      border-bottom-color: var(--color-surface-primary-border);
    }

    &[open] {
      .details-summary {
        border-radius: $roundness;
        border-bottom-color: var(--color-surface-primary-border);
      }

      .details-section {
        border-bottom-left-radius: $roundness;
        border-bottom-right-radius: $roundness;
      }

      & + .details-summary-root .details-summary {
        border-top-left-radius: $roundness;
        border-top-right-radius: $roundness;
      }
    }
  }
}

:global(body) {
  &:global(.body-has-any-spoiler-open) :global(.article-content) {
    :global(.details-nested)[open] {
      transform: none;
      margin-block: 0;
    }
  }

  &:global(.has-open-details) :global(.article-content) {
    .details-summary-root:not([open]) {
      opacity: 0.35;

      &:hover {
        opacity: 1;
      }
    }

    .details-summary-root[open] {
      filter: drop-shadow(0 0 30px var(--color-surface-primary-open-shadow));
    }

    :global(.details-nested):not([open]) {
      opacity: 1;
    }

    :global(.details-nested)[open] {
      filter: none;
    }
  }
}

.details-tags {
  @include details-tags-base();

  &-toggle {
    opacity: 0.7;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
  }
}

.details-summary {
  @include details-summary-base();

  &-icon {
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

:global(html:not(.no-spoiler-hover-effects)) {
  .details-summary {
    transform-origin: center center;
    transition:
      margin 0.5s cubic-bezier(0.2, 0.65, 0.25, 1),
      transform 0.33s cubic-bezier(0.2, 0.65, 0.25, 1),
      box-shadow 0.33s cubic-bezier(0.2, 0.65, 0.25, 1),
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-radius 0.33s cubic-bezier(0.2, 0.65, 0.25, 1);
    box-shadow: 0 10px 24px transparent;
    will-change: transform;
  }

  .details-summary-root:not(.is-open, [open]) .details-summary {
    &:hover,
    &:active {
      transform: scale(1.01);
      margin-block: 4px;
      border-radius: $roundness;
      border-bottom-color: var(--color-surface-primary-border);
    }

    &:hover {
      border-color: var(--color-surface-primary-border-hover);
      box-shadow: 0 10px 24px var(--shadow-primary);
    }

    &:active {
      transform: scale(1.005);
      border-color: var(--color-surface-primary-border-active);
      box-shadow: 0 10px 24px var(--shadow-secondary);
    }
  }

  .details-summary-root:has(
      + .details-summary-root:not(.is-open, [open]) .details-summary:hover
    )
    .details-summary:not(:last-child),
  .details-summary-root:has(
      + .details-summary-root:not(.is-open, [open]) .details-summary:active
    )
    .details-summary:not(:last-child) {
    border-bottom-color: var(--color-surface-primary-border);
  }

  .details-summary-root.is-open .details-summary,
  .details-summary-root[open] .details-summary {
    transform: none !important;
    box-shadow: 0 10px 24px transparent;
  }
}

:global(html.no-spoiler-hover-effects) {
  .details-summary-root {
    z-index: 0;

    &:hover,
    &:active {
      z-index: 0;
    }

    &.is-open,
    &[open] {
      z-index: var(--spoiler-open-z-index);
    }
  }

  :global(details[data-nested-details-summary="true"]) {
    z-index: 0;

    &:hover,
    &:active {
      z-index: 0;
    }

    &[open] {
      z-index: var(--spoiler-open-z-index);
    }
  }
}

.details-section {
  margin-block-end: -1px;
  border: solid 1px var(--color-border-primary);
  background-color: var(--color-background-secondary);
  padding-block: 15px 1px;
}

.details-content-wrapper {
  transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  margin-block-start: -15px;
  max-height: 0;
  overflow: hidden;
}

.details-content-inner {
  overflow: hidden;
}

:global(html.no-spoiler-animation) {
  .details-content-wrapper {
    transition: none;
  }
}
