@use "../../styles/abstracts/mixins" as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10000;
  outline: 1px solid var(--color-border-header);
  box-shadow: 0 0 15px 0 var(--shadow-secondary);
  background-color: var(--color-background-header);
  padding-inline: 15px;
  width: 100%;
  max-width: 1075px;
  translate: 0 0 0;
  backdrop-filter: blur(15px) saturate(50%);

  svg {
    fill: var(--color-accent);
    width: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
    height: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
  }

  &-transparent {
    // Add transparent styles if needed
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: max-content;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      margin: -4px;
      border-radius: $roundness;
      width: 30px;
      height: 30px;

      &:hover {
        background-color: var(--color-surface-primary-background-hover);
      }

      &:active {
        opacity: 0.8;
        background-color: var(--color-surface-primary-background-active);
      }

      a {
        padding: 4px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .logo {
      transition: opacity 0.3s ease;
      margin-block: 8px 10px;
      margin-inline: 3px;
      max-width: fit-content;
      color: var(--color-accent);
      font-family: "Red Hat Display", monospace;
      font-size: 1.35rem;
      font-weight: 800;
      font-style: italic;

      sub {
        font-size: 0.825rem;
        font-weight: 500;
      }
    }
  }

  &-left {
    gap: 8px;

    mark {
      margin-inline: 8px;
      outline: 1px solid var(--color-status-danger-border);
      background: var(--color-status-danger-mark-background);
      color: var(--color-status-danger-text);
      font-size: 1rem;
      font-style: normal;
    }
  }

  &-right {
    gap: 15px;
    margin-block: 0;
  }

  @media screen and (width <= 768px) {
    z-index: 100;
  }

  @media screen and (width >= 1075px) {
    transform: translateX(calc(-50% - 0.5px));
    border-bottom-left-radius: $roundness * 1.5;
    border-bottom-right-radius: $roundness * 1.5;
    width: calc(100% - 8px);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: -4px;
  border-radius: $roundness;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: var(--color-surface-primary-background-hover);
  }

  &:active {
    opacity: 0.8;
    background-color: var(--color-surface-primary-background-active);
  }

  a {
    padding: 4px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.logo {
  transition: opacity 0.3s ease;
  margin-block: 8px 10px;
  margin-inline: 3px;
  max-width: fit-content;
  color: var(--color-accent);
  font-family: "Red Hat Display", monospace;
  font-size: 1.35rem;
  font-weight: 800;
  font-style: italic;

  sub {
    font-size: 0.825rem;
    font-weight: 500;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
