@use "../../../styles/abstracts/mixins" as *;

.converter {
  margin: 15px;

  &-info-text {
    margin-block: 15px !important;
    margin-inline: 10px !important;
    color: var(--color-text-tertiary);
    font-size: 0.825rem;
  }

  &-dragger {
    width: calc(100% - 20px);

    &-content {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-size: 0.9rem;
    }
  }

  &-radio {
    &-wrapper {
      padding-inline: 10px;
    }

    &-group {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  &-button {
    &-group {
      display: flex;
      gap: 10px;
    }

    &-reset {
      flex-grow: 1;
      filter: saturate(0);
    }

    &-action {
      flex-grow: 3;
    }
  }
}
