@use "../../../styles/abstracts/mixins" as *;

.converter {
  margin: $space-16;

  &-info-text {
    margin-block: $space-16 !important;
    margin-inline: $space-4 !important;
    color: var(--color-text-tertiary);
    font-size: $font-size-label;
  }

  &-dragger {
    width: calc(100% - 20px);

    &-content {
      display: flex;
      gap: $space-8;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-size: $font-size-body-sm;
    }
  }

  &-radio {
    &-wrapper {
      padding-inline: $space-8;
    }

    &-group {
      display: flex;
      gap: $space-8;
      align-items: center;
      justify-content: center;
    }
  }

  &-button {
    &-group {
      display: flex;
      gap: $space-8;
    }

    &-reset {
      flex-grow: 1;
      filter: saturate(0);
    }

    &-action {
      flex-grow: 3;
    }
  }

  &-precision {
    display: flex;
    gap: $space-8;
    justify-content: space-between;
    margin-block: $space-16;
    margin-inline: $space-4;

    &-header {
      display: flex;
      flex-flow: column nowrap;
      gap: $space-4;
      justify-content: space-between;
    }

    &-title {
      font-family: Onest, sans-serif;
      font-size: $font-size-body-sm;
      font-weight: 500;
    }

    &-controls {
      display: flex;
      flex-wrap: nowrap;
      gap: $space-16;
      align-items: center;
      justify-content: flex-start;
    }

    &-input {
      width: 90px;
    }

    &-hint {
      color: var(--color-text-tertiary);
      font-size: $font-size-caption;
    }
  }
}
