@use "../../../styles/abstracts/mixins" as *;

.converter {
  margin: 15px;

  &-info-text {
    margin-block: 15px !important;
    margin-inline: 5px !important;
    color: var(--color-text-tertiary);
    font-size: 0.825rem;
  }

  &-dragger {
    width: calc(100% - 20px);

    &-content {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-size: 0.9rem;
    }
  }

  &-radio {
    &-wrapper {
      padding-inline: 10px;
    }

    &-group {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  &-button {
    &-group {
      display: flex;
      gap: 10px;
    }

    &-reset {
      flex-grow: 1;
      filter: saturate(0);
    }

    &-action {
      flex-grow: 3;
    }
  }

  &-precision {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-block: 15px;
    margin-inline: 5px;

    &-header {
      display: flex;
      flex-flow: column nowrap;
      gap: 5px;
      justify-content: space-between;
    }

    &-title {
      font-family: Onest, sans-serif;
      font-size: 0.9rem;
      font-weight: 500;
    }

    &-controls {
      display: flex;
      flex-wrap: nowrap;
      gap: 15px;
      align-items: center;
      justify-content: flex-start;
    }

    &-input {
      width: 90px;
    }

    &-hint {
      color: var(--color-text-tertiary);
      font-size: 0.75rem;
    }
  }
}
