@use "styles/mixins" as *;
@use "styles/reset";
@use "styles/fonts";
@use "styles/pages/links";
@use "styles/pages/faq";
@use "styles/pages/rules";
@use "styles/figure";
@use "styles/header";
@use "styles/table";
@use "styles/colors";
@use "styles/ant";
@use "styles/modal";
@use "styles/search";
@use "styles/theme-selector";
@use "styles/error";
@use "styles/bezier";
@use "styles/addition";

:root {
  --header-height: 55px;
}

html,
body {
  margin: 0;
  background: var(--color-background-primary);
  padding: 0;
  scroll-padding-top: var(--header-height);
  scrollbar-color: var(--color-surface-primary-border) var(--color-background-secondary);
  scrollbar-width: thin;
  color: var(--color-text-primary);
  user-select: none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
  }

  &::-webkit-scrollbar-track {
    margin: 5px;
    background: var(--color-background-secondary);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  font-weight: 375;
  font-size: 13px;
  font-family: Inter, sans-serif;

  @media screen and (width >= 320px) {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (width >= 768px) {
    font-size: 16px;
  }
}

.main {
  margin-top: 56px;
  overflow: hidden;
}

footer {
  margin-inline: auto;
  margin-block: 30px 40px;
  outline: 1px solid var(--color-border-primary);
  border-radius: $roundness;
  background-color: var(--color-background-secondary);
  padding-inline: 20px;
  padding-block: 10px;
  width: calc(100% - 40px);
  max-width: 700px;
  color: var(--color-text-tertiary);
  font-weight: 600;
  font-size: 0.85rem;
  font-family: Onest, sans-serif;

  p {
    text-wrap: balance;
    margin-block: 2px;
  }
}

input {
  accent-color: var(--color-accent);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.visual-hidden {
  display: none;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
  height: 100vh;
  color: var(--color-text-primary);
  line-height: 1.5;
}

.not-found-container {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--shadow-modal);
  border-radius: $roundness * 1.5;
  background-color: var(--color-background-secondary);
  padding: 15px;
  max-width: 400px;
}

.not-found-title {
  margin-inline: 10px;
  color: var(--color-accent);
  font-weight: 800;
  font-size: 2rem;
  font-family: Onest, sans-serif;
  hyphens: auto;
  text-align: left;
  text-transform: uppercase;
}

.not-found-description {
  margin-inline: 5px;
  font-size: 0.9375rem;
  hyphens: auto;
}

.not-found-small-description {
  margin-inline: 5px;
  color: var(--color-text-tertiary);
  font-size: 0.75rem;
  hyphens: auto;
}

.not-found-button {
  display: inline-flex;
  gap: 10px;
  border-radius: $roundness;
  padding: 10px 15px;
  font-weight: 500;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
    filter: brightness(90%);
  }

  img {
    width: 24px;
    height: 24px;
  }

  p {
    margin-inline-start: 5px;
  }
}

.to-main {
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
}
