@use "../abstracts/mixins" as *;

:root {
  --header-height: 55px;
}

html,
body {
  margin: 0;
  background: var(--color-background-primary);
  padding: 0;
  overflow-x: hidden;
  color: var(--color-text-primary);
  scroll-padding-top: var(--header-height);
  scrollbar-color: var(--color-surface-primary-border) transparent;
  scrollbar-width: thin;
  user-select: none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $roundness;
    background-color: var(--color-surface-primary-background);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  scrollbar-width: none;
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 375;
  -webkit-tap-highlight-color: transparent;

  @media screen and (width >= 320px) {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (width >= 768px) {
    font-size: 16px;
  }
}
