@supports (font-variation-settings: normal) {
  @font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src:
      url("/src/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src:
      url("/src/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src:
      url("/src/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src:
      url("/src/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/JetBrainsMono/JetBrainsMono-Italic-VariableFont_wght.ttf")
        format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src:
      url("/src/fonts/Onest/Onest-VariableFont_wght.ttf") format("truetype-variations"),
      url("/src/fonts/Onest/Onest-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src:
      url("/src/fonts/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src:
      url("/src/fonts/RedHatDisplay/RedHatDisplay-Italic-VariableFont_wght.ttf")
        format("truetype-variations"),
      url("/src/fonts/RedHatDisplay/RedHatDisplay-Italic-VariableFont_wght.ttf")
        format("truetype");
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Inter;
    font-weight: 100;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-100.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 100;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-100-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 200;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-200.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 200;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-200-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 300;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-300.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 300;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-300-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 375;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-375.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 375;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-375-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-400.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-400-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 425;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-425.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 425;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-425-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 450;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-450.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 450;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-450-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-500.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-500-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 550;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-550.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 550;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-550-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 600;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-600.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-600-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 650;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-650.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 650;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-650-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-700.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-700-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 800;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-800.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 800;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-800-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 900;
    font-style: normal;
    src: url("/src/fonts/Inter/static/Inter-900.ttf") format("truetype");
  }

  @font-face {
    font-family: Inter;
    font-weight: 900;
    font-style: italic;
    src: url("/src/fonts/Inter/static/Inter-900-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 100;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-100.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 100;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-100-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 200;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-200.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 200;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-200-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-300.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-300-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 375;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-375.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 375;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-375-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-400.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-400-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 425;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-425.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 425;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-425-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 450;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-450.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 450;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-450-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-500.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-500-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 550;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-550.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 550;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-550-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-600.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-600-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 650;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-650.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 650;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-650-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-700.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-700-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 800;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-800.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 800;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-800-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 900;
    font-style: normal;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-900.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 900;
    font-style: italic;
    src: url("/src/fonts/JetBrainsMono/static/JetBrainsMono-900-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 100;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-100.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 200;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-200.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 300;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-300.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 375;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-375.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 400;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-400.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 425;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-425.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 450;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-450.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 500;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-500.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 550;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-550.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 600;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-600.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 650;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-650.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 700;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-700.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 800;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-800.ttf") format("truetype");
  }

  @font-face {
    font-family: Onest;
    font-weight: 900;
    font-style: normal;
    src: url("/src/fonts/Onest/static/Onest-900.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 100;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-100.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 100;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-100-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 200;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-200.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 200;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-200-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 300;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-300.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 300;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-300-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 375;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-375.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 375;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-375-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-400.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-400-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 425;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-425.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 425;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-425-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 450;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-450.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 450;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-450-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 500;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-500.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 500;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-500-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 550;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-550.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 550;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-550-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 600;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-600.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 600;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-600-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 650;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-650.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 650;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-650-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 700;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-700.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 700;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-700-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 800;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-800.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 800;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-800-Italic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 900;
    font-style: normal;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-900.ttf") format("truetype");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-weight: 900;
    font-style: italic;
    src: url("/src/fonts/RedHatDisplay/static/RedHatDisplay-900-Italic.ttf")
      format("truetype");
  }
}
