*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  background-color: transparent;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img,
svg,
video,
canvas,
audio {
  display: block;
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  color: inherit;
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
  text-align: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

:-moz-focusring {
  outline: none;
}

legend {
  display: block;
  padding: 0;
}

label {
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  padding: 0;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

th {
  font-weight: bold;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

iframe {
  border: none;
}

template {
  display: none;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

:focus {
  outline: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
