@use "../../styles/abstracts/mixins" as *;

.copy-button {
  @include fluid-size(margin, -$space-8, -$space-16);
  @include fluid-size(padding, $space-4, $space-8);

  flex: none;
  transition: fill $duration-500 cubic-bezier(0.075, 0.82, 0.165, 1);
  fill: var(--color-icon-primary);

  &:hover {
    fill: var(--color-icon-primary-hover);
  }

  &:active {
    fill: var(--color-icon-primary-active);
  }

  svg {
    @include fluid-icon-size($space-16, $space-20);
  }

  &.disabled {
    filter: saturate(0) opacity(0.25);
    cursor: not-allowed;
  }
}
