@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.loading-animation {
  &-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--color-background-primary);
    width: 100vw;
    height: 100vh;
  }

  &-container {
    margin-inline: auto;
    max-width: 800px;
  }
}

.animated-text {
  &-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &-logo {
    display: inline-block;
    white-space: nowrap;
    color: var(--color-accent);
    font-family: "Red Hat Display", monospace;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
  }

  &-tagline {
    display: inline-block;
    transform: translateY(10px);
    white-space: nowrap;
    color: var(--color-accent);
    font-family: "Red Hat Display", monospace;
    font-size: 1.35em;
    font-weight: 500;
    font-style: italic;
  }

  &-letter-wrapper {
    display: inline-block;
    animation: tracking-slide 1s cubic-bezier(0, 0.75, 0.25, 1) 0.5s forwards;
    will-change: transform;
  }

  &-letter {
    display: inline-block;
    backface-visibility: hidden;
    transform: scale(0.0001);
    animation: smooth-scale 0.75s cubic-bezier(0, 0.75, 0.25, 1) forwards;
    will-change: transform;
  }
}

@keyframes smooth-scale {
  0% {
    transform: scale(0.0001);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tracking-slide {
  0% {
    transform: translateX(calc(var(--char-offset) * -1em));
  }

  100% {
    transform: translateX(0);
  }
}

.fade-in {
  animation: fade-in 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.fade-out {
  animation: fade-out 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.progress-bar-container {
  transition: opacity 0.5s cubic-bezier(0.25, 0, 0, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
