@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.loading-animation {
  &-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--color-background-primary);
    width: 100vw;
    height: 100vh;
  }

  &-container {
    margin-inline: auto;
    max-width: 800px;
  }

  &-text {
    margin: 10px;
    margin-top: 25px;
    margin-inline: 20px;
    white-space: pre-wrap;
    font-size: 0.875rem;
  }
}
