@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.loading-animation {
  &-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--color-background-primary);
    width: 100vw;
    height: 100vh;
  }

  &-container {
    margin-inline: auto;
    max-width: 800px;
  }
}

.animated-text {
  &-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &-logo {
    display: flex;
    color: var(--color-accent);
    font-family: "Red Hat Display", monospace;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
  }

  &-tagline {
    display: flex;
    white-space: nowrap;
    color: var(--color-accent);
    font-family: "Red Hat Display", monospace;
    font-size: 1.35em;
    font-weight: 500;
    font-style: italic;
    translate: 0 10px;
  }

  &-letter {
    display: inline-block;
    transform: scale(0.7, 1.5) translateY(50px);
    opacity: 0;
    animation: spring-letter 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
}

@keyframes spring-letter {
  0% {
    transform: scale(0.5, 1.5) translateY(50px);
    opacity: 0;
  }

  50% {
    transform: scale(1, 1) translateY(-2.5px);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.3s cubic-bezier(0.25, 0, 0, 1) forwards;
}

.fade-out {
  animation: fade-out 0.3s cubic-bezier(0.25, 0, 0, 1) forwards;
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.progress-bar-container {
  transition: opacity 0.5s cubic-bezier(0.25, 0, 0, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
